/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 19.07.2017, 1:25:40
    Author     : vjxzebra
*/
@mixin button{display: flex; justify-content: center; align-items: center;  min-width:285px;  height: 60px; background: transparent; border:  1px solid #e77e22;
    color: rgb(207, 125, 47); transition: .6s;
    &:hover{background: rgb(207, 125, 47); color: #fff; border: 1px solid transparent; }
}
._ллипс_1 {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(207, 125, 47);
  position: absolute;
  left: 154px;
  top: 334px;
  width: 150px;
  height: 150px;
  z-index: 332;
}

@mixin proxima{
    font-family: ProximaNova;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
@mixin flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
@mixin psevdo-el{
    content: '';
    display: block;
    position: absolute;
}

.slider_type_main{ min-height: calc((100vw + 15px) * 0.5); height: 100%; max-height: 100vh;  overflow: hidden; position: relative;
    .main_image_container{position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;overflow: hidden; background-color: #000;
        &:before{ @include psevdo-el; width: 100%; height: 100%; background: rgba(0,0,0, 0.8);z-index: 1;}
        img{object-fit: cover; position: absolute; width: 100%; height: 100%; top:50%; left: 50%; transform: translate(-50%, -50%);}
    }
    .main_content{position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; @include flex-center;padding: 0 100px;
        .left_content{width: 100%; @include flex-between; flex-wrap: wrap; max-width: 570px;margin-right: 12.1875vw; padding-top:114px; position: relative;
            &:before{   content: '';
                display: block;
                position: absolute;
                width: 5.98958vw;
                height: 1px;
                background: #fff;
                left: -8.09375vw;
                top: 27%;
                z-index: 1;
            }
        }
        .right_content{width: 100%; max-width: 30.2083vw;  @include flex-center; }
        .btn_content_container{width: 100%; @include flex-center; justify-content: flex-start; margin-bottom: 45px;position: relative; height: 60px;
            a{ @include button; position: absolute;  top: 0; left: 0; @include proxima;}
        }
        .description_container{font-size: 0.7291vw;}
        h1,h2{font-size: 4.375vw; margin-bottom: 0px;}
        p{ line-height: 1.5; margin: 0px 0 40px; font-weight: lighter;}
        .btn_content_container{margin-bottom: 55px;}

    }
    .clone{position: absolute; left: 0; top: 0;}
    .sliding-content{overflow: hidden; position: relative;
    }
    .language-picker{max-width: 115px;position: absolute; right: 0.5%; top: 5%; z-index: 3;}
    .information-wrap{

         .info-popup{opacity: 1; pointer-events: auto;color: #000;}

    }


}
.info-popup{opacity: 0; pointer-events: none; background: #fff; width: 215px; height: auto; padding-left: 12px; position: absolute; transition: .6s; right: 140%; bottom: 200%;  @include proxima; font-weight: 100; cursor: auto;
    p{margin: 6px 0; font-size: 12px;}
    &:before{content: ''; position: absolute; border-right:15px solid #fff; border-top: 10px solid transparent; border-bottom: 10px solid transparent; top: calc(100% - 10px); right:0px; }
    &.visible{opacity: 1; pointer-events: auto;}
}
