.mramor_paralax_item{
    position: absolute;
    background-image: url(../images/paralax.png);
    width: 38px;
    height: 38px;
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: none;
    transition: top 0.5s;
}