@mixin button{display: flex; justify-content: center; align-items: center;  min-width:285px;  height: 60px; background: transparent; border:  1px solid #e77e22;
    color: #e77e22; transition: .6s;
    &:hover{background: #ff814f; color: #fff; border: 1px solid transparent; }
}

@mixin cambria{
    font-family: Cambria;
}
@mixin proxima{
    font-family: ProximaNova;
}
@mixin proximaCond{
    font-family: ProximaNovaCond;
}

@mixin headingLine{
    content: '';
    display: block;
    position: absolute;
    width: 165px;
    height: 1px;

}

@mixin positionCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
@mixin flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

@mixin psevdo-el{
    content: '';
    display: block;
    position: absolute;
}

@keyframes linkArrowMove {
  from {
    transform: rotate(45deg) translate(0px, -4px);
  }

  to {

    transform: rotate(45deg) translate(10px, -14px);
  }
}
@keyframes animation-slide-out-left{
    from{
        opacity: 1;
        transform: translate(0,0)
    }

    to{
        transform: translate(-200px, 0);
         opacity:0;
    }
}

.animation-slide-out-left{
    animation: animation-slide-out-left;
    animation-duration: .6s;

}

@keyframes animation-slide-out-right{
    from{
        opacity: 1;
        transform: translate(0,0)
    }

    to{
        transform: translate(200px, 0);
         opacity:0;
    }

}
.animation-slide-out-right{
    animation: animation-slide-out-right;
    animation-duration: .6s;

}

@keyframes animation-slide-in-left{
    from{
        transform: translate(-200px, 0);
         opacity:0;
    }

    to{
        opacity: 1;
        transform: translate(0,0)
    }

}
.animation-slide-in-left{
    animation: animation-slide-in-left;
    animation-duration: .6s;

}

@keyframes animation-slide-in-right{
    from{
        transform: translate(200px, 0);
         opacity:0;
    }

    to{
        opacity: 1;
        transform: translate(0,0);
    }

}
.animation-slide-in-right{
    animation: animation-slide-in-right;
    animation-duration: .6s;

}

@keyframes jumpingArrow{
    0%{
        transform: translate(0, 0px);
        // top: 30%;
        // left: 30%;
    }
    25%{
        transform: translate(5px, 5px);
        // top: 70%;
        // left: 70%;
    }
    50%{
        transform: translate(0, 0px);
    }
    75%{
        transform: translate(-5px, -5px);
    }
    100%{
        transform: translate(0, 0px);
        // top: 70%;
        // left: 70%;
    }
}


// * common classes

.desktop .mobile{display:none;}
.desktop .desktop{display:block;}
.mobile .desktop{display:none;}
.mobile .mobile{display:block;}

.hidden-arrey{position: absolute; left: -10000px;}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.button-usual{display: flex; justify-content: center; align-items: center; align-content: center; width:14.84375vw;  height: 3.125vw; background: transparent; border: 2px solid rgb(210, 84, 0); color: rgb(210, 84, 0); transition: .6s; text-transform: uppercase; @include proxima; font-weight: 600; font-size: 0.677vw;
        &:hover{background:rgb(184, 85, 20); color: #fff; border: 2px solid rgb(184, 85, 20);}
        &.darck{border: 2px solid rgb(207, 125, 47); color: rgb(207, 125, 47);
            &:hover{background-color: rgb(207, 125, 47);color: #fff; border: 2px solid rgb(207, 125, 47);}
        }
}

.menu-button{width: 26px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;cursor: pointer; margin-bottom: 40px; position: fixed; z-index: 21; top: 45px; left: 50px; transition: 1.8s;

    div{position: relative; z-index: 1;}
    &:before, &:after{content: ''; position: absolute; top: 60%; transform: translate(0, -50%); height: 1px; background: #fff;  transition: 1.6s; width: 0;
    }
    &:before{ left: 40px; }
    &:after{right: 40px;}
    &.js_clicked{left: 50%; transform: translate(-50%, 0);
        &:before, &:after{width: 290px;}
        div{background-color: #fff!important;z-index: 1;
            &:nth-child(even){opacity: 0; pointer-events: none; }
            &:nth-child(1){transform: translate(0%, 18px) rotate(45deg) ;}
            &:nth-child(3){transform: translate(0%, 0) rotate(-45deg) ;}
        }
    }
    &:hover{
        div:not(.background){background: #ff814f!important;}

        &:before, &:after{background: #ff814f;}
    }
    div{width: 100%; min-height: 1px; background: #fff; margin-bottom: 8px;opacity: 1; pointer-events: auto; transition: .8s;
        &:nth-child(even){width: 60%;}
    }
    .background{position: absolute;left: 50%; top: 40%; transform: translate(-50%, -50%); width: 230%!important; height: 200%!important;  display:none; opacity: 0.6; z-index: 0;}
}

.lister_container{width: 100%; display: flex; max-width:14.84375vw;color: #fff; justify-content: center;
    .part{ transition: .6s;
        &:nth-child(1){cursor: pointer;padding-top: 30px;
            .arrow{
                transform: rotate(180deg);
            }
        }
        &:nth-child(3){cursor: pointer;padding-top: 30px;}
        p{@include proxima; font-weight: 300;}
        &.next{
            .arrow{margin-right: 0; margin-left: auto;}
        }
        &.next:hover{color: #e5791e;
            .arrow {filter: none; }
        }
        &.prev:hover{color: #e5791e;
            .arrow {filter: none; }
        }

    }
    .arrow{cursor: pointer;width: 29px; height: 15px; background-repeat: no-repeat; filter: grayscale(100%) contrast(2000%) invert(1); transition: .6s; margin-bottom: 20px;

    }
    .txt{font-weight: 100; @include proxima; font-size: 0.9375vw;}
    //number rotating animation
    .rotating-wraper{
         width: 1.5625vw;
         height: 2.0833vw;
         perspective: 600px;
         transition: transform 0.5s;
         transform-style: preserve-3d;
         position: relative;
         top: -10px;
         left: 5px;
         &.js_flip{transform: rotateX( 180deg );
        }
    }
    .current-slider,.next-slider{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        backface-visibility: hidden;
    }
    .next-slider{ transform: rotateX( 180deg );}
    //number rotating animation
    .counter{@include cambria; font-size: 2.2916vw;display: flex; align-items: center;padding: 0 2.0833vw;
        span{font-size: 2.1875vw;@include proxima; font-weight: 100;}
    }
    .total-amount{font-size:  1.30208vw; color: #8f8f8f; position: relative; }
}

    .main{position: relative;}
    .flex-cont{display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center; }

    .section{max-height: calc((100vw + 15px) * 0.5); height: 100%; position: relative; overflow: hidden; }

    .section-header{width: 100%; position: relative;
        .wrapper{position: relative;height: 5.2vw; }
        .section-logo{position: absolute;left: 50%;top: 55%; transform: translate(-30%, -50%); z-index: 3;}
        .sliding-menu_wrap{ position: absolute; left: 50%;top: 50%; transform: translate(-50%, -50%);
            .arrow{width: 8px; min-height: 8px; border-top: 2px solid #000; border-left: 2px solid #000; position: absolute; top: 57%; cursor: pointer;
                &.prev{left: -25px; transform: rotate(-45deg) translateY(-50%);}
                &.next{right: -27px; transform: rotate(135deg) translateY(50%);}
            }
        }
        .sliding-menu{ text-decoration: none; list-style: none; @include cambria; text-transform: uppercase;  overflow: hidden; padding-top: 12px;;
            .item{min-width: 6.53vw; display: inline-block;  transition: .6s; opacity: 1; transform: translate(0,0);
                &:nth-child(1),&:nth-child(2){text-align: center;}
                &:nth-child(3),&:nth-child(4){text-align: center;}
                a{color:#000; transition: .6s; font-size: 0.83vw; display: block; width: 100%;
                    &:hover{color: #d25400;}
                }
                &.center:nth-of-type(2){padding-right: 30px;}
                &.center:nth-of-type(3){padding-left: 30px;}
                &.left-item a{text-align: left;}
                &.right-item a{text-align: right;}

                // &.animation-slide-left{transform: translate(-200px, 0);opacity:0;}
                // &.animation-slide-right{transform: translate(200px, 0); opacity: 0}
            }
        }
    }

    .section_double-heading{position: absolute;top: 11.5%; left: 3%; padding-left: 11%;
        h2{@include cambria; font-size: 4.375vw; color: #fff;position: relative; z-index: 2;margin: 0; font-weight: 400;}
        &:before{
            content: attr(data-backwards);
            display: block;
            position: absolute;
            width: 100%;
            top: -45%;
            left: 7.03125vw;
            @include cambria;
            font-size: 4.375vw;
            color: #000;
            font-weight: 400;
            z-index: 1;
        }
        &:after{
            @include headingLine;
            left: 0%;
            top: 49%;
            background: #fff;
            width: 21%;
        }
    }

    .styiled-link, .href_project_container, .link_news{display: block; width: 7.96875vw; padding-bottom:  0.15625vw; border-bottom: 1px solid #fff; position: relative; font-size: 0.625vw; @include proxima;  text-transform: uppercase; font-weight: 100;
        &:after{content: ''; position: absolute; width: 0.4166vw ;height: 0.4166vw; border-top: 2px solid #fff; border-right: 2px solid #fff;  transform: rotate(45deg) translate(0, -4px); top: 45%; right: 5px; transition: .6s;}
        a{transition: .6s;}
        &:hover{ border-bottom: 1px solid rgb(207, 125, 47); transition: .8s;
            &:after{border-top: 2px solid #e77e22; border-right: 2px solid rgb(207, 125, 47); animation: linkArrowMove; animation-duration: .6s; animation-iteration-count: infinite; animation-direction: alternate;}
            a{color: rgb(207, 125, 47);}
        }
    }

    .logo-container{min-height: 112px; position: relative; z-index: 2;
        &.black{
            a{filter: grayscale(100%) contrast(600%) invert(1);}
        }

        &.white{
            a{filter: grayscale(100%) contrast(800%);}
        }

        a{display: block; position: absolute; left: 50%; bottom: 5px; transform: translateX(-50%); cursor: pointer;filter: grayscale(100%) contrast(800%) ; transition: .6s;
            &:hover{filter: none;}
        }
    }

    .icon-row{ min-height: 70px; position: relative;
        a{display: block;width: 26px; height: 26px; position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0);filter: grayscale(100%) contrast(800%) invert(0); transition: .6s;
            &:hover{filter: none;}
        }
    }

    .socials-buttons{width: 30px; position: relative; z-index: 2;
        .line{height: 140px; width: 1px; background: #fff; margin-bottom: 50px; }
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translate(0%, -47%);
        a{display: flex; width: 100%; margin: 0 0 30px 0; text-align: center; position: relative; justify-content: center; align-items: center; align-content: center;
            img{filter: grayscale(100%) contrast(2000%);

            }
            &:before{content: ''; display: block; position: absolute; width: 1px; height: 25px;  background: #fff; top: 50%; left: -5px; margin-top: -12.5px;transition: .6s;}
            &:after{content: ''; display: block; position: absolute; width: 1px; height: 25px;  background: #fff; top: 50%;right: -5px ; margin-top: -12.5px; transition: .6s;}

            &:hover{
                &:before{content: ''; display: block; position: absolute; width: 1px; height: 25px;  background: #e77e22; top: 50%; left: -15px;  }
                &:after{content: ''; display: block; position: absolute; width: 1px; height: 25px;  background: #e77e22; top: 50%;right: -15px ;  }
                img{filter: none;}
            }
        }
    }

    .information-wrap{position: absolute; right: 55px; bottom: 58px;  width: 25px; cursor: pointer;   justify-content: center; font-size: 18px; color: #fff;
        @include proximaCond; color: #747474;  z-index: 2;
        &.active{
            a{color: rgb(207, 125, 47);}
            &:after, &:before{background: rgb(207, 125, 47);

            }
        }
        &:after, &:before{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background: #747474;
            transition: .6s;
        }
        &:after{
            top: 0;
        }
        &:before{
            bottom: 0;
        }
        &:hover{
            &>span{color: #fff;}
            &:after{
                top: -10px;
                background: #fff;
            }
            &:before{
                bottom: -10px;
                background: #fff;
            }
        }
    }

    .navigate-button{position: absolute; bottom: 50px; left: 50%;  width: 45px; height: 45px;  border: 1px solid #fff;  transform: translate(-50%, 0) rotate(45deg);cursor:     pointer; transition: .6s; z-index: 2;
        &:after{content: ""; position: absolute; top: 50%; left: 50%;margin-left: -4px; margin-top: -4px;  width: 8px; height: 8px; border-right: 1px solid #fff; border-bottom: 1px solid #fff; transition: .6s;
        }
        &:hover{border: 1px solid #e5791e;
            &:after{animation: jumpingArrow; animation-duration: 1s; animation-iteration-count: infinite; border-right: 1px solid #e5791e; border-bottom: 1px solid #e5791e; animation-direction: normal; animation-timing-function: linear;}
        }
    }

    .language-picker{height: 17px;margin-bottom: 40px;
        .language{position: relative;
            margin-right: 10px;
            padding: 4px 0;
            color: #747474;
            transition: .6s;
            width: 25px;
            font-size: 10px;
            letter-spacing: 2px;
            justify-content: center;
            @include proxima;
            &.active{color: #fff;
                &:after, &:before{background: #fff;}
            }
            &:after, &:before{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                width: 100%;
                height: 1px;
                background: #747474;
                transition: .6s;
            }
            &:after{
                top: 0;
            }
            &:before{
                bottom: 0;
            }
            &:hover{
                color: #ff814f;
                &:after{
                    top: -10px;
                    background: #ff814f;
                }
                &:before{
                    bottom: -10px;
                    background: #ff814f;
                }
            }
        }
    }
// * common classes


// gallery

    // .gallery{background: #e2e0e0; max-height: 50vw; height: 100%; min-height: 0; padding-bottom: 5.2083vw; position: relative;
    //     .section-logo{filter: grayscale(100%) contrast(700%) invert(1); transition: .6s;
    //         &:hover{filter: none;}
    //     }
    //     .wrapper{ width: 89.7%; margin: 0 auto; position: relative;  justify-content: space-between; z-index: 1; }
    //     .paralax-squear:nth-of-type(1){top: -10px;left: auto; right: 20px; z-index: 5; pointer-events: none;}
    //     .paralax-squear:nth-of-type(2){bottom: -10px; left: 20px; top: auto; z-index: 5; pointer-events: none;}
    //
    // }
    //
    // .gallery_list{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start; align-content: flex-start; margin: 0; height: 39.5833vw;
    //     &.list1{width: 59.375vw;}
    //
    //     &.list2{width: 29.16666vw;  justify-content: flex-end;}
    //     .hover-image{position: absolute; width: 101%; height: 101%; top: 0; left: 0; opacity: 0; pointer-events: none; transition: .8s; z-index: 1;}
    //
    // }
    //
    // .gallery_item{max-width:  29.1666vw; width: 100%;   position: relative; margin-bottom: 1.04vw;overflow: hidden; height: 12.5vw;
    //     &:not(.last-item)>a{display: block; @include positionCenter; width: 100%; height: 100%;}
    //     &:not(.last-item):before{content:''; display: block; position: absolute; width: 101%; height: 102%; top: 50%; left:50%; transform: translate(-50%, -50%);
    //         border: 2px solid #fff; transition: .8s; z-index: 4;}
    //
    //     img{width: 100.5%; height: 100%; position: absolute; z-index: 0; object-fit: cover;}
    //     .content{position: relative;z-index: 3; color: #fff; text-align: center; top: 42%; transform: translateY(-50%);
    //         h2{ font-size: 1.88vw; margin: 15px 0 15px; font-weight: 400; transition: .6s;}
    //         p{ @include proxima; font-weight: 100; font-size: 0.83vw; text-transform: uppercase; margin-bottom: 20px;}
    //         span{@include proxima;display: block;  overflow: hidden; transition: .8s;  font-weight: 100; font-size: 0.83vw;}
    //     }
    //     &.big-image{max-width:100%; margin-top: 0;height:  26.0416vw;
    //         .content{top: 46%;}
    //         h2{ font-size: 2.5vw; margin: 15px 0 10px;; font-weight: 400; transition: .6s;}
    //         p{ @include proxima; font-weight: 100; font-size: 0.94vw; text-transform: uppercase;}
    //     }
    //     .transforming-container{
    //         position: relative;
    //          width: 245px;
    //          margin: 0 auto;
    //          perspective: 600px;
    //          transition: transform 0.5s;
    //          transform-style: preserve-3d;
    //          height: 55px;
    //          .fading-part{
    //              width: 100%;
    //              top: 50%;
    //              left: 50%;
    //              position: absolute;
    //              backface-visibility: hidden;
    //              text-align: center;
    //              transform: translate(-50%, -50%);
    //
    //          }
    //          .fading-part.next{
    //              transform: rotateX( 180deg ) translate(-50%, 50%);  color: rgb(254, 254, 254);text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.36); position: relative; text-transform: uppercase;
    //              &:after{content: ''; width: 0px; height :1px; background: rgba(219,217,216, 1); position: absolute; bottom: -2px; left: 50%; transform: translate(-50%);
    //                  transition: .6s;
    //              }
    //              &:hover{
    //                  &:after{  width: 9.6vw;}
    //              }
    //
    //
    //          }
    //
    //
    //     }
    //     &:not(.last-item):hover{
    //         &:before{content:''; display: block; position: absolute; width: 92.79%; height: 83.33%;  pointer-events: none; }
    //         &.big-image:before{ width: 92.98%; height: 84%;  }
    //         .hover-image{opacity: 1; pointer-events: auto; cursor: pointer;}
    //
    //         .transforming-container{
    //
    //             transform: rotateX( 180deg );
    //         }
    //     }
    //     &.last-item{text-align: center; overflow: visible; display: flex; flex-wrap: wrap; height: calc((100% - 40px) / 3);
    //         &:before{content: ''; display: block; position: absolute; width:185px; height: 1px; background: #000; top: 13%; right: -11+0px; left: auto; z-index: 0;}
    //         .wrap-heading{ width: auto; position: relative; z-index: 1;background: #e2e0e0; margin: 0 auto; padding: 0 10px;}
    //         h2{font-size: 1.56vw;  color:#696969; font-weight: 400; margin: 5.57% 0 0px;}
    //         p{    line-height: 1.55;
    //             font-size: 0.83vw;
    //             margin-top: 3.38%;
    //             margin-bottom: 5.6%;}
    //         .text-wrap{width: 76.78%;  margin: 0 auto;}
    //         .button-usual{margin: 0 auto;  font-size: 0.68vw; width: 14.94375vw; height: 3.2vw;
    //
    //         }
    //     }
    // }
    // .gallery .list1 .gallery_item:not(.big-image){width: calc(50% -  0.5208vw);}


    .gallery{background: #e2e0e0; max-height: 50vw; height: 100%; min-height: 0; padding-bottom: 5.2083vw; position: relative;
        .section-logo{filter: grayscale(100%) contrast(700%) invert(1); transition: .6s;
            &:hover{filter: none;}
        }
        .wrapper{ width: 89.84375vw; margin: 0 auto; position: relative;  justify-content: space-between; z-index: 1; }
    }
    .gallery_list{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: stretch; align-content: space-between; margin: 0;
         height: 39.5833vw;
        &.list1{width: 100%;}
        .hover-image{position: absolute; width: 101%; height: 101%; top: 0; left: 0; opacity: 0; pointer-events: none; transition: .8s; z-index: 1;}

    }
    .gallery_item{max-width:  25vw; width: 100%;   position: relative; overflow: hidden; height: 18.75vw; box-shadow: 0px 12px 31px 2px rgba(0, 0, 0, 0.5);
        &:not(.last-item)>a{display: block; @include positionCenter; width: 100%; height: 100%;}
        &:not(.last-item):before{content:''; display: block; position: absolute; width: 105%; height: 105%; top: 50%; left:50%; transform: translate(-50%, -50%);
            border: 2px solid rgba(174, 174, 174,0.5); transition: .8s; z-index: 4;}
        &.black-font{
            .content{color: #000;
                span:after{background: rgba(53,53,53, 1);}

            }
        }
        img{width: 100.5%; height: 100%; position: absolute; z-index: 0; object-fit: cover;}
        .content{position: relative;z-index: 3; color: #fff; text-align: center; top: 50%; transform: translateY(-50%);opacity: 0; pointer-events: none; transition: .6s;
            h2{ font-size: 1.88vw; margin:  0.40vw 0 1.1025vw; font-weight: 400; transition: .6s;}
            p{ @include proxima; font-weight: 100; font-size: 0.83vw; text-transform: uppercase; margin-bottom: 1.3625vw;}
            span{@include proxima;display: block;  overflow: hidden; transition: .8s;  font-weight: 100; font-size: 0.83vw; margin-top: 2.40416vw; text-transform: uppercase;
                &:after{content: ''; width: 0px; height :1px; background: rgba(219,217,216, 1); position: absolute; bottom: -2px; left: 50%; transform: translate(-50%);
                     transition: .6s;
                 }
                 &:hover{
                     &:after{  width: 9.6vw;}
                 }
            }
        }

        &:not(.last-item):hover{
            &:before{content:''; display: block; position: absolute; width: 92.39%; height: 89.33%;  pointer-events: none; }
            .content{opacity: 1; pointer-events: auto;}
            .hover-image{opacity: 1; pointer-events: auto; cursor: pointer;}
        }
        &.last-item{text-align: center; overflow: visible; display: flex; flex-wrap: wrap; align-items: center; align-content: center; position: relative; z-index: 2;
            // &:before{content: ''; display: block; position: absolute; width:185px; height: 1px; background: #000; top: 13%; right: -11+0px; left: auto; z-index: 0;}
            .wrap-heading{ width: auto; position: relative; z-index: 1;background: #e2e0e0; margin: 0 auto; padding: 0 10px;}
            h2{font-size: 1.56vw;  color:#696969; font-weight: 400; margin: 5.57% 0 0px;}
            p{    line-height: 1.55;
                font-size: 0.83vw;
                margin-top: 2.10%;
                margin-bottom: 5.5%;}
            .text-wrap{width: 89.78%;  margin: 0 auto;}
            .button-usual{margin: 0 auto;  font-size: 0.68vw; width: 15.04375vw; height: 3.3vw;

            }
        }
    }

// /gallery

//products
    .products{background: linear-gradient(to top, #000, #252525); position: relative;
        &>.wrapper{min-height: calc(100% - 100px); justify-content: center; padding-bottom: 7.2%; padding-right: 15px; position: relative; z-index :1; align-items: flex-start; align-content: flex-start;}
        .section-logo{filter: grayscale(100%) contrast(700%) ; transition: .6s;
            a{width: 26px; height: 26px;display: block}
            &:hover{filter: none;}
        }
        .section_double-heading{padding-left: 8.1%; left: 5.5%; top: 11%;
            &:after{width:23%;}
            &:before{left:19%; }
        }

        .section-header .sliding-menu .item a{color: #fff;
            &:hover{color: #e4812d; }
        }
        .section-header .sliding-menu_wrap .arrow{    border-top: 2px solid #fff;    border-left: 2px solid #fff; }

        .part{width: 25vw; align-content: flex-start; align-items: flex-start; min-height: 100%; justify-content: center;flex-wrap: wrap;
            &>a{display: block; width: 100%;position: relative;}
            &>h3{@include cambria; font-size: 1.88vw; font-weight: 400; color: #fff; width: 100%; text-align: center; margin-top: 10px; margin-bottom: 20px; transition: .8s; position: relative; z-index:1;}
            &:nth-child(1){padding-top: 7.145vw; margin-right: 19.5833vw; align-items: flex-end; align-content: flex-end;
                .description{margin-bottom: 0;}
            }
            &:nth-child(2){align-content: flex-start; align-items: flex-start;padding-top: .5%; margin-right:  1.34375vw;

            }
            .line{ position: relative;width: 100%; height: 1px; margin: 3%  0 1.5%; transition: .6s;
                &:before{content: '';position: absolute; left: 50%; margin-left: - 2.34375vw;  width: 18.5%; height: 1px; background: #fff; }
            }
            .description{max-width: 370px; margin: 0 auto 7%; color: #fff; @include proxima;font-size: 14px; font-weight: 100; text-align: center; line-height: 1.75;  transition: .6s;}
        }
        .image-wrap{ width: 100%; height: 18.75vw; position: relative;cursor: pointer;margin-bottom: 6.5%; z-index: 2;
            .content{@include positionCenter; background: rgba(0,0,0,0.5); width:100%; height: 100%; display: flex; align-items: center; flex-wrap: wrap;
                 justify-content: center; opacity: 0; pointer-events: none; transition: .8s; align-content: center; z-index: 2; overflow: hidden;
                &:after{@include positionCenter; content: ''; width: 110%; height: 110%; border: 15px solid #fff; z-index: 4; transition: .8s;}
                h3{@include cambria;font-size: 1.88vw; font-weight: 400; color: #fff;margin: 0px 0 30px; transform :translateY(350px); transition: .6s; width: 100%; text-align: center;}
                span{color: #fff; text-transform: uppercase;position: relative; z-index: 3;

                }
            }
        }
        .part a:hover{
            .image-wrap .content{opacity: 1; pointer-events: auto;
                &:after{width: 100%; height: 100%;}
            }
            & h3{transform: translateY(0px); position: relative;}
            &+h3{transform: translateY(-150px); position: relative; }
            & ~ .line{transform: translateY(-60px);}
            & ~ .description{position: relative; transform: translateY(-60px);}
            span{text-decoration: underline;}
        }
        img{position: absolute; width: 100%;  height: 100%; z-index: 1; object-fit: fill; top: 50%;left: 50%;transform: translate(-50%, -50%);}
        .button-wrap{width: 100%;
            .button-usual{margin: 0 auto;  font-size: 0.68vw; width: 14.9479vw; height: 3.225vw; cursor: pointer;}
        }
        #paralax-squear4{top: auto; left: -20px; bottom: -20px; right: auto; z-index: 1;}
        #paralax-squear5{top: -20px; left:auto; bottom: auto; right: 0; z-index: 1;}
    }
//products

//advantages
    .advantages{ background: linear-gradient(to top left,#000, #272726 ); position: relative;
        .styiled-link:hover{border-bottom: 1px solid #fff;
            &:after{border-top: 2px solid #fff;border-right: 2px solid #fff;}
        }
        .wrapper{align-items: flex-end; align-content: flex-end; height: 100%; max-width:91.1458vw; margin: 0 auto 0 5.2083vw  ; padding-top: 10.9vw; padding-bottom: 6vw; position: relative; z-index: 1;}
        .icon-row{ min-height: 70px; position: relative;
            a{display: block;width: 26px; height: 26px; position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0);filter: grayscale(100%) contrast(2000%) invert(0); transition: .6s;
                &:hover{filter: none;}
            }
        }
        .section_double-heading{top: 11%; left: 3.4%;padding-left: 10.5%;
            &:after{left: 0;width: 20%; }
        }
    }
    .advantages_list{ width: 100%; justify-content: flex-start;

        .advantage_item{max-width:26.04vw; width:100%; height: 28.125vw; position: relative; cursor: pointer;
            &:not(:last-child){margin-right: 5.7291vw;}
            .image-wrap{position: absolute; width: calc(100% - 1.0416vw); height: calc(100% - 1.0416vw); top: 0; left: 0;
                img{opacity: 0.9; position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }
            }
            .content{position: absolute; width: calc(100% - 1.0416vw); height: calc(100% - 1.0416vw); bottom: 0; right: 0; background: rgba(255,255,255, 0.1); display: flex; align-items: flex-end; padding-bottom: 3.125vw;  border: 1px solid rgba(255,255,255, 0.3);
                &>img{position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; pointer-events: none; transition: .6s;}
                // &:before{content: ''; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: linear-gradient(to top,  rgba(184,85,20,1) 0%, rgba(207,125,47, 0) 100%); opacity: 0; transition: .8s;}
                &:hover{ border: 1px solid rgba(211,87,3, 0.1); border-top: none;
                    // &:before{opacity: 1;}
                    &>img{opacity: 1;}

                }


            }
            .content-wrap{ width: 100%; height: 13.58vw; padding: 0 4.0875vw 0 2.2437vw;  color: #fff; @include cambria; font-size: 0.8333vw; line-height: 1.52; position: relative;
                h3{ font-size: 1.5625vw; font-weight: 400;margin: 0  }
                .line{ position: relative;width: 100%; height: 1px; margin: 2.202vh  0 1.3604vw;
                    &:before{content: ''; position: absolute; width: 4.166vw; height: 1px; background: #fff; left: 0; }
                }
                p{margin: 0 0 1.25vw; }


            }
        }
    }
    #paralax-squear6{
        top: auto; bottom: -10px; left: -10px; right: auto;
    }

    #paralax-squear7{
         top: auto; bottom: 20%; left: auto; right: -10px;
    }
    #paralax-squear8{
        top: auto; bottom: -5px; left: auto; right: 10px;
    }
// /advantages


//projects
    .slider_project_main{background: linear-gradient( 0deg,  rgb(0,0,0) 0%, rgb(37,37,37) 100%);color: #fff; position: relative; @include cambria; min-height:50vw; overflow-y: hidden;
        .main_content{position: absolute;width: 100%; height: 100%; top: 0%; left: 0%; z-index: 3;

        }
        .middle_content{width:50.12083vw; height: 34.516vw; @include positionCenter; transform: translate(-50%, -48.5%);
            .main_img_wrapper{position: absolute; left: 0; top: 0; height: 100%; width:  29.166vw; box-shadow: 0px 13px 21px 0px rgba(0, 0, 0, 0.81);
                img{position: absolute;width: 100%; height: 100%; z-index: 1; object-fit: fill;}
                &:before{content: ""; @include positionCenter; width: 100%; height: 100%; background: rgba(0,0,0,0.4); z-index: 2;}
                &:after{content: ""; @include positionCenter; width: 95%; height: 96%; border: 1px solid #4e4e4e; z-index: 2;}
            }
            .content_wrapper{position: absolute; right: 0; top: 50%; z-index: 3;  width: 25vw; height: 27.6041vw; transform: translateY(-48%); background: linear-gradient(to top, rgba(13,13,13,0.9) 0%, rgba(42,42,42, 0.9) 100% ); box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.53); display: flex; justify-content: center; align-items: flex-start;
                .content_container{ font-size: 0.833vw; line-height: 1.55;width: 100%; height: 100%; padding: 2.5vw 3.9vw 2.6041vw 2.5vw;
                    .sub-heading{color: #656565; font-size: 0.78125vw;
                        p{ margin-top: 0; margin-bottom:  0.78125vw;}
                    }
                    h3{font-size: 30px;  color: rgb(207, 125, 47); margin: 0.4vw 0 0.8vw;}
                    &>p{margin-bottom: 4.6975vw;}
                    a{text-transform: uppercase; width:  12.5vw;}
                }
                .href_project_container{position: absolute; left: 2.5vw; bottom: 2.6vw; padding-bottom:0px; font-size:  0.7291vw; min-width:  12.239vw;
                    &:hover{ cursor: pointer;
                        a{color: rgb(207, 125, 47);}
                    }
                }
            }
        }
        .line{ position: relative;width: 100%; height: 1px; margin: 1.2vw  0  1.2vw;
            &:before{content: ''; position: absolute; width: 4.7vw; height: 1px; background: rgb(207, 125, 47); left: 0; }
        }

        .icon-row{filter: grayscale(100%) contrast(2000%) invert(0); transition: .6s;
            &:hover{filter: none;}
        }
        .button-usual{position: absolute; bottom: 3.1054vw; right:  24.8395vw; z-index: 4;}

        .section_double-heading{left: auto; right: 5.4083vw; padding: 0 8.333vw 0 4.166vw; top: 11%;z-index: 4;
            &:after{left: auto; right: 0; width:  6vw;}
            &:before{left: 0.5vw;}
        }

        .lister_wrapper{bottom: 6.7125vw; left: 4.0895vw;position: absolute;}


    }
    .slide_nav_btn{ width: 18.75vw; height: 6.5104vw; position: absolute; background: #383838; left: -3.40625vw;  top: 37.5%; transform: rotate(90deg)  translate(0%);  display: flex; justify-content: center; align-items: center; cursor: pointer; z-index: 3; user-select: none;
        h3{font-size: 0.833vw;}
        p{position: absolute;top: 50%; left: 50%; margin-top: -1vw; margin-left: -3.5vw;}
        &:before,&:after{content: ''; display: block; width: 4.50833vw; height: 1px; background: #e77e22; position: absolute; top: 50%; transition: translate(0, -50%); z-index: 1;}
        &:before{left: -2.6041vw;}
        &:after{right: -2.6041vw;}
        &.next{right: -3.3875vw; top: 49.5%; left: auto;}
    }
    .background-image1, .background-image2{position: absolute; top: 50%; transform: translate(0, -50%); opacity: 0.6; z-index: 0;}
    .background-image2{right: 0;}
    .background-image1{left: 0;}
// projects

//news
    .slider_news_main{background: url('../images/news-background.jpg') no-repeat  center; background-size: cover;@include cambria;min-height: 50vw; position: relative; overflow-x: hidden; overflow-y: hidden;
        .section_double-heading{left: auto; right: 4.8083vw; padding: 0 8.333vw 0 4.166vw; top: 11%; z-index: 4;
            h2{color: #000;}
            &:after{left: auto; right: 0; width:  6vw; background: #000;}
            &:before{left: 0.5vw; color: #c0bfbf;}
        }
        .icon-row{
            a{filter: grayscale(100%) contrast(2000%) invert(1); transition: .6s;}
            a:hover{filter: none;}
        }
        .button-wrap{position: absolute;bottom:2.60416vw; left: 50%;transform: translateX(-50%);
        }

        .slide_wrapper{max-width: 53.333vw; width: 100%; min-height: 16.40625vw; position: absolute;
            .news_image{max-width:12.5vw; width: 100%; height: 14.84375vw; position: absolute; top: 0; left: 0; box-shadow: 10px 10px 25px 0 rgba(0,0,0, 0.7);
                img{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
                &:before{content: ''; @include positionCenter; width: 84%; height: 88%; border: 1px solid #4d4d4d;  z-index: 1;}
                &:after{content: ''; width: 1px; min-height: 90px; background: #e67e22; position: absolute; left: 50%; top: -35px; transform: translate(-50%, 0%); z-index: 1;}
            }
            &>.content{position: absolute; max-width:45.3125vw; width: 100%; height:  14.0625vw;right: 0%; bottom: 0%;}
            .content_container{ width: 100%; height: 100%; position: absolute; right: 0%; bottom: 0%;  background: linear-gradient(to top, rgba(0,0,0,1), rgba(40, 40,40,0.8)); display: flex; justify-content: flex-start; align-items: center; z-index: 2; padding:1.5625vw 1.5625vw 1.3025vw 2.6041vw ; box-shadow: 10px 10px 25px 0 rgba(0,0,0, 0.7); flex-wrap: wrap; color: #a6a6a6; font-size: 0.8333vw;
                h3{font-weight: 400; font-size: 1.51041vw;color:#fff; margin-top:  0.78125vw; margin-bottom: 1.3020vw; letter-spacing: 0.5px; }
                p{margin-bottom: 1.04166vw; line-height: 1.5;  }
                .line{ position: relative;width: 100%; height: 1px; margin: 0px  0 5px;
                    &:before{content: ''; position: absolute; width: 4.7vw; height: 1px; background: #fff; left: 0; }
                }
                .news-info{display: flex; align-items: center;}
                .wievs{display: flex; align-items: center;margin-right: 30px;
                    img{margin-right: 7px; }
                }
                .info_block{width: 100%; display: flex;justify-content: space-between;}
                .right_info{display: flex; align-items: center; align-content: center;}
                .reviews{margin-right: 28px; display: flex; align-items: center; align-content: center;
                    img{margin-right: 10px;}
                }
            }
            &:nth-child(1){left: 7.2916vw; top: 8.4895vw;
            }
            &:nth-child(2){ right:13.8208vw; bottom: 8.4895vw;
                .news_image{left: auto; right: 0;

                }
                &>.content{ right: auto; left: 0;

                }
            }
        }
        .lister_container{bottom: 16%; left: 10.3%; top: auto; position: absolute; color: #000;
           .arrow{filter: grayscale(100%) contrast(2000%) invert(0); transition: .6s;}
       }
       .link_news{padding-bottom: 5px; border-bottom: 1px solid #a6a6a6;font-size:  0.625vw;
           &:after{top: 40%;
               border-top: 2px solid #a6a6a6;
               border-right: 2px solid #a6a6a6;
           }
           &:hover{border-bottom: 1px solid rgb(207, 125, 47); cursor: pointer;
               &:after{
                   border-top: 2px solid rgb(207, 125, 47);
                   border-right: 2px solid rgb(207, 125, 47);
               }
           }

       }
       .section_double-heading{left: auto; right: 5.5083vw; padding: 0 8.333vw 0 4.166vw; top: 11.2%;z-index: 4;
           &:after{left: auto; right: 0; width:  6vw;}
           &:before{left: 0.5vw;}
       }


    }
//news

//friends and partners slider
    .friends_slider_main{background: linear-gradient(to top, #000, #252525); position: relative; color: #fff; @include cambria; min-height: 50vw;
        .slider_news_main-wrapper{z-index: 1;}
        .friends_slider_main_wrap{padding: 0 4.6875vw; height: 37.0979vw;width: 100%; position: absolute; display: flex; flex-wrap:wrap; justify-content: space-between; top:12.5vw; align-items: flex-start; z-index: 1;
            .item{min-width: 19.27083vw; min-height: 17.4479vw; position: relative;

            }
            .back_image_wrapper{max-width:18.125vw; width: 100%; min-height: 10.416vw; position: absolute; top: 0; left: 0; z-index: 1;
                img{width: 100%; height: 100%; left: 0; right: 0;}
            }
            .main_content{max-width:  18.2291vw; width: 100%; min-height: 16.40625vw;position: absolute;  z-index: 2; right: 0; bottom: 0; border-width: 1px;
                 border-color: rgb(174, 174, 174);
                 border-style: solid;
                 background-color: rgba(0, 0, 0, 0.5);
                 box-shadow: 0px 0px 15.54px 5.46px rgba(0, 0, 0, 0.48);
                 padding: 0 50px 18px 20px;
                 display: flex;
                 flex-wrap: wrap;
                 align-content: flex-end;
                 align-items:  flex-end;
                 line-height: 1.6;
                 @include proxima;
                 font-weight:100;
                 color: #b6b6b6;
                 font-size: 0.7291vw;
                 overflow: hidden;
                 h3{font-size:  1.25vw;  font-weight: 400; @include cambria; margin: 0 0 0.4333vw 0; color: #fff; z-index: 1;}
                 p{margin: 0;}

                 .image_clone_wrap{display: none;;  }

             }
             .reserved{justify-content: center; align-items: center;}
        }
        .section_double-heading{padding-left: 8.5%; left: 5.5%;
            &:after{ width:  6vw;}
            &:before{left: 5vw;}
        }

    }



    .friends_partners{
        .wrapper{max-width: 1720px; width: 100%; margin: 0 auto; position: absolute; justify-content: space-between; flex-wrap: wrap; left: 50%; transform: translate(-50%, 0); bottom: 0; top: auto;

        }
        .icon-row{filter: grayscale(100%) contrast(2000%) invert(0); transition: .6s;
            &:hover{filter: none;}
        }

        .slider-item{max-width: 370px; width: 100%; min-height: 340px;position: relative; margin-bottom: 25px; position: relative;
            .sliding-picture{max-width:350px; width: 100%; min-height: 200px; position: absolute; top: 0; left: 0; z-index: 1;
                img{width: 100%; height: 100%; left: 0; right: 0; }
            }
            .sliding-content{max-width:350px; width: 100%; min-height: 315px; position: absolute; right: 0; bottom: 0; z-index: 2;background: linear-gradient(to top, rgba(0,0,0,1), rgba(40, 40,40,0.4)); display: flex; justify-content: center; align-items: flex-end; @include proxima; font-size: 14px; border: 1px solid rgba(255, 255, 255, 0.3); transition: .6s; cursor: pointer;
                &:before{content: ''; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: linear-gradient(to top, rgba(211,87,3, 1),rgba(211,87,3, 0.1)); opacity: 0; transition: .8s; z-index: 1;}
                h3{font-size: 24px;  font-weight: 400; @include cambria;}
                .content{width: 300px; margin: 0 auto; position: relative; z-index: 3;}
            }
            &:hover{
                .sliding-content{
                    // background: linear-gradient(to top, #d35703, rgba(211, 87, 3, 0.1));
                    border: 1px solid rgba(211, 87, 3, 0.1); border-top: none;
                    &:before{opacity: 1;}
                }
            }
        }
        .slider-navigation{ @include positionCenter;

        }
    }
//friends and partners slider




//maps
    .locations{ background-image: url("../images/location-background.jpg"); background-repeat: no-repeat;  background-position: center; background-size: cover; @include proxima; color: #fff; font-weight: 300; min-height: 41.666vw;
        .logo-container{min-height: 5.833vw;
            img{width:  5.46875vw; height: 4.0104vw; }
        }
        &:after{content: ''; position: absolute; width: 100%; height: 100%; left: 0 ; top: 0; background: linear-gradient(to top, rgba(0,0,0,1) 00%, rgba(0,0,0,0.8) 100%); z-index: 1;}
        .map-container{position: absolute; z-index: 3; border: 20px solid #fff;   width:70.3125vw;  height: 24.4791vw; top: 19%; left: 50%; transform: translateX(-50%);}
        .info-block{width: 17.7083vw; height: 14.0625vw; background: linear-gradient(to top , rgba(13,13,13, 1) 0%, rgba(42,42,42, 0.9) 100%); position: absolute; bottom: -38.8%; left: 1.3%; display: flex; align-items:  stretch;flex-wrap: wrap; padding: 25px 30px 0 30px; @include proxima; font-weight: 100; font-size: 0.7291vw;
            p{margin: 0; line-height: 1.65;}
            .middle{margin-top:15px; margin-bottom: 10px; width: 100%;line-height: 1.6;
                a{ margin-left: 10px;}
            }
            a{font-weight: 400;}
        }

        a:hover{ text-decoration: underline;}
        .bottom{width: 100%;
            a{font-size: 0.8333vw;}
        }
        .up-arrow{position: absolute; width:  3.90625vw; height:  3.90625vw; border: 1px solid rgb(207, 125, 47); color: rgb(207, 125, 47); z-index: 3; display: flex; justify-content: center; align-items: center; align-content: center;flex-wrap: wrap; padding:  0.5208vw   0.5208vw; right: 5.2%; top: 3.7%; font-size: 0.8333vw; cursor: pointer;
            p{margin: 0.5208vw 0 0;}
        }

    }


//maps

//footer
    .footer-section{background: #000; @include cambria; padding-top: 5px; padding-bottom: 15px;
        .line{ position: relative;width: 100%; height: 1px; margin:0  0 50px;
            &:before{content: ''; position: absolute; width: 85px; height: 1px; background:  rgb(207, 125, 47); left: 50%; transform: translate(-50%, 0);}
        }

        .sitepages, .link-list{display: flex; justify-content: space-between; max-width: 790px; width: 100%; margin: 0 auto; flex-wrap:  wrap;}
        .long-line{ position: relative;width: 100%; height: 1px; margin: 25px  0 25px;
            &:before{content: ''; position: absolute; width:100%; height: 1px; background-color: rgb(207, 125, 47); opacity: 0.302; left: 50%; transform: translate(-50%, 0);}
        }


        .link-list{margin-bottom: 50px;
            a{font-size: 18px; }

        }
        .sitepages{justify-content: center; border-bottom: 1px solid   rgba(228, 129, 45, 0.5); padding-bottom: 30px; margin-bottom: 27px;
            li{ margin: 0 10px;}
            a{color:#808080;}

        }


        a:hover{color:rgb(207, 125, 47);}
        .copyright{text-align: center; color: #808080;}
    }


// //footer

//main menu
    .main-menu{width: 100%; height: 100vh; position: fixed; top: 0%; left: -100%; background: rgba(0,0,0,0.9); z-index: 20; @include cambria; font-size: 36px; transition: 1.6s;
        &.opened{left: 0;}
        .menu-item-list{position: absolute; width: 100%;height: 100%;  display: flex; flex-wrap: wrap;margin: 0;padding: 135px 0 55px; overflow: hidden;
            .menu-item{width: 100%; text-align: center; position: relative;display: flex; justify-content: center;align-items: center; align-content: center;
                a{color: #dddddc; transition: .6s; display: block; position: relative;
                    &:after,&:before{content: ''; display: block; width: 50px; height: 1px; background:  #ff814f; position: absolute; top: 50%; opacity: 0;transition: .6s;}
                    &:before{left: -60px;}
                    &:after{right: -60px;}
                    &:hover{
                        color: #ff814f;
                        &:after,&:before{opacity: 1; cursor: pointer

                        }
                    }
                }

            }
        }
        .language-picker{position: absolute; right: 0.5%;  top: 5%;

        }
    }

//main-menu


// regular-top-block
    .regular-top-block{min-height: 28.90625vw; width: 100%; position: relative; overflow: hidden;
        .background-image{position: absolute; width: 100%; height: 100%; object-fit: cover;}
    }

    .regular-logo-container{position: absolute; width: 100%;}

    .regular-double_heading{position: absolute;top: 51%; left: 3.5%; padding-left: 10.5%;
        &.black-gray{
            color: #000;
            &:before{
                color: rgba(0, 0, 0, 0.2);
            }
        }
        h1,h2{@include cambria; font-size: 4.375vw;position: relative; z-index: 2;margin: 0; font-weight: 400;}
        &:before{
            content: attr(data-backwards);
            display: block;
            position: absolute;
            width: 100%;
            top: -45%;
            left: 7.03125vw;
            @include cambria;
            font-size: 4.375vw;

            font-weight: 400;
            z-index: 1;
        }
        &:after{
            @include headingLine;
            left: 0%;
            top: 49%;
            background: #fff;
            width: 21%;
        }
    }

    .regular-single_heading{position: absolute;top: 28%; left: 3.5%; padding-left: 10.5%; color: #fff;
        &.black-gray{
            color: #000;
            &:before{
                color: rgba(0, 0, 0, 0.2);
            }
        }
        h1,h2{@include cambria; font-size: 4.375vw;position: relative; z-index: 2;margin: 0; font-weight: 400;}
        &:after{
            @include headingLine;
            left: 2.5%;
            top: 45%;
            background: #fff;
            width: 7.2%;
        }
    }


    .breadcrumbs{position: absolute; z-index: 2; color: #000; top: 37px; right: 55px;
        a{color: #000;}
        &.white-font{color: #fff;
            a{color: #fff;}
        }
        ul{display: flex;}
        li{@include proxima; font-weight: 100; font-size:  0.72916vw;
            &:not(:last-child):after{
                content: '/';
                margin-right: 5px;

            }
        }
    }
//regular-top-block

//inner-page-top-block
    .inner-top-block{min-height: 50vw; width: 100%; position: relative; overflow: hidden;
        .background-image{position: absolute; width: 100%; height: 100%; object-fit: cover;}
    }
//inner-page-top-block


// filter-section
    .filter-section{min-height: 6.09375vw; background: linear-gradient( 90deg, rgb(224,223,223) 0%, rgb(242,242,242) 100%); overflow: hidden; position: relative;
        .change-item-order{ display: flex; position: absolute; top: 50%; right: 10%; transform: translatey(-50%);
            div{margin-right: 30px; filter: grayscale(100%) contrast(500%) invert(0); cursor:pointer;}
            .active{filter:none;}
        }
    }

// filter-section

//item_container-section
    .materials{
        .item_container-section{background-image: linear-gradient( 90deg, rgb(32,32,32) 0%, rgb(105,105,105) 100%);}
    }


    .item_container-section{overflow: hidden;  display: flex;
        .inner-wrap{width:  67.1875vw; margin: 0 auto; padding:  2.60416vw 0;}

        .five-in-line{margin: 0 0 1.4333vw  0;display: flex; justify-content: space-between; flex-wrap: wrap;  opacity: 0; pointer-events: none;display: none; transition: .6s;
            // .thin-border-square:not(.lastItem){margin-bottom: 0.52083vw;margin-right:  0.52083vw;}
            &.visible{opacity: 1; pointer-events: auto; display: flex;}
            .thin-border-square{margin-bottom: 0.52083vw; overflow: hidden; max-width:  13.02083vw; width: 100%; height: 9.739583vw;
                .content{
                    h2{font-size: 1.875vw; margin: 0.15vw 0 0.69166vw 0; }
                    p{margin: 0 0 .7866vw 0;}
                    span{margin: 0.0vw 0 0 0;
                        &:after{
                         }
                         &:hover{
                             &:after{}
                         }
                    }
                }
            }
        }

        .one-in-line{margin: 0; opacity: 0; pointer-events: none; display: none; transition: .6s;
            &.visible{opacity: 1; pointer-events: auto; display: block;}
            .item{display: flex; width: 100%; justify-content: space-between;margin-bottom: 1.5625vw;

            }
            .thin-border-square{max-width:  21.354166vw; width: 100%; height: 16.14583vw;
                &>a{}
            }
            .item_info-block{width: 44.27083vw; background: rgb(255, 255, 255); color: #000; padding: 2.504166vw 0vw 2.08333vw 2.604166vw;
                a{display: inline-block; width: auto;}
                 h2{color: #000; font-size: 1.88vw; margin:  0.40vw 0 1.1025vw; font-weight: 400; transition: .6s; @include cambria; margin-top: 0;}
                .description{ font-size:  0.83333vw;   display: flex; justify-content: space-between; flex-wrap: wrap; line-height: 1.6;

                    h3{margin: 0 0 0px 0; font-size: 1.25vw;  line-height: 1;color: rgb(105, 105, 105);}
                    p{margin: 0;}
                }
                .description-item{display: inline-block;   margin-bottom: 1.041666vw; width: auto; max-width: 14.0625vw; margin-right: 1.041666vw;
                }
                .empty{width: 9.5416vw;}
            }
        }

        .load-more{width: 8.8075vw; margin: 0px auto 0;padding-top: 10px;
            a{@include proxima; font-weight: 400; font-size: 0.8333vw; color: rgb(231, 126, 34); display: flex; text-transform: uppercase; line-height: 1.2;}
        }


    }
//item_container-section

//inner-item_container-section
    .materials_inner .inner-item_container-section{background-image: linear-gradient( 90deg, rgb(224,223,223) 0%, rgb(243,243,243) 100%);
        .column+.column{
            h3{line-height: 0.6;}
            .thin-border-square{width:  13.802083vw; height: 10.260416vw; box-shadow: 0px 13px 21px 0px rgba(0, 0, 0, 0.3);
                &.black-font{
                    .content{color: #000;
                        h3,h2{color: #000; line-height: 1.1;margin-top: 0; margin-bottom: 1.5625vw;}
                        span{margin: 0;
                            &:after{background: rgba(53,53,53, 1); }
                        }
                    }
                }
                &:before{ width: 105%; height: 108%;}
                .content{ padding: 0 10px;
                    h3,h2{font-size:1.25vw;color: #000;margin-top: 0; line-height: 1.1;margin-bottom: 30px;}
                    span{margin: 0;
                        &:after{background: rgba(53,53,53, 1); }
                    }
                }
            }

            .transparent-square-inside{width: 21.35416vw; height: 15.88541vw; box-shadow: 0px 13px 21px 0px rgba(0, 0, 0, 0.3);
                .content{
                     &:after{ width: 110%; height: 120%;}
                     h3{font-size: 24px;}
                }
                &:hover{
                    .content{
                        &:after{width: 19.27083vw; height: 13.802083vw;}
                    }
                }
            }
        }
    }

    .inner-item_container-section{
        .inner-wrap{max-width: 71.875vw; width: 100%; display: flex; justify-content: space-between; margin: 0 auto; flex-wrap: wrap; margin-top: - 23.4375vw;
             position: relative; z-index: 6;}
        .column{width: 25vw;
            .item-description{height: 88.02083vw;}
        }
        .column+.column{width: 44.27083vw;
            h3:nth-of-type(1){color: #fff;
                    &+.line{margin-bottom: 3.204166vw;
                        &:before{background: #fff; }
                    }
            }
            h3{color: #000;  margin-bottom: 1.8925vw; }
            .line{margin-bottom: 1.5625vw;}
        }

        h2,h3{margin: 0;font-size: 1.5625vw; font-weight: 400;}
        p{margin: 0;}
        .main-image{width: 100%;margin-bottom: 2.604166vw;
            img{object-fit: cover; width: 100%;}
        }
        .item-description{background: #fff; padding: 2.604166vw 3.004166vw 2.604166vw 2.604166vw; color: #000; font-size:  0.83333vw;
            h2{ margin-bottom: 1.482916vw;  }

            h3{ margin-bottom: 1.6525vw;  color: rgb(105, 105, 105);}
            p{margin-bottom: 1.2125vw; line-height: 1.6;}
            .item-sescription-cover{
                ul{ display: flex;  flex-flow: column wrap;  justify-content: space-between;

                }
                &.one-column ul{height:5.46875vw }
                ul{height:2.34375vw;margin: 0 0  1.4625vw 0;
                    li:nth-child(odd){
                        margin-bottom:0.401666vw;
                    }
                }
            }


            .button-usual{margin: -1.2vw auto 2.341666vw;}
            .line{margin:0vw  0  2.925vw;}
        }

        .item-container{margin: 0; display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 1.14166vw;
            .item{margin-bottom: 1.5625vw;}
        }
        .line{ position: relative;width: 100%; height: 1px; margin: 0vw  0  3.125vw;
            &:before{content: ''; position: absolute; width: 4.7vw; height: 1px; background: rgb(0, 0, 0); left: 0; }
        }

    }
    .backward-link{ width: 100%; margin-bottom: 2.604166vw; padding-left:  1.5625vw; position: relative;
        &:before{content: ''; width: 0.52083vw; min-height: 0.52083vw; border-top: 1px solid #fff; border-left: 1px solid #fff; position: absolute; left: 0; top: 50%;
             transform: translateY(-50%) rotate(-45deg);}
        a{font-size:  0.83333vw; text-transform: uppercase;}
     }

//inner-item_container-section

//thin-border-square
    .thin-border-square{position: relative; overflow: hidden;  box-shadow: 0px 12px 31px 2px rgba(0, 0, 0, 0.5);
         display: inline-block;
        &>a{display: block; @include positionCenter; width: 100%; height: 100%;}
        &:before{content:''; display: block; position: absolute; width: 105%; height: 105%;  @include positionCenter; transform: translate(-50%, -48%);
            border: 2px solid rgba(174, 174, 174,0.5); transition: .8s; z-index: 4;}
        &.black-font{
            .content{color: #000;
                h3,h2{color: 000;}
                span:after{background: rgba(53,53,53, 1);}
            }
        }
        .hover-image{position: absolute; width: 101%; height: 101%; top: 0; left: 0; opacity: 0; pointer-events: none; transition: .8s; z-index: 1;}
        img{width: 100.5%; height: 100%; position: absolute; z-index: 0; object-fit: cover; }
        .content{position: relative;z-index: 3; color: #fff; text-align: center; top: 50%; transform: translateY(-50%);opacity: 0; pointer-events: none; transition: .6s; font-size: 0.83vw; @include proxima; width: 92.39%; margin: 0 auto;
            h3,h2{ font-size: 1.88vw; margin:  0.40vw 0 1.1025vw; font-weight: 400; transition: .6s; @include cambria; line-height: 1;}
            p{  font-weight: 100;  text-transform: uppercase; margin-bottom: 1.3625vw;}
            span{display: block;  overflow: hidden; transition: .8s;  font-weight: 100;  margin-top: 2.40416vw; text-transform: uppercase;
                &:after{content: ''; width: 0px; height :1px; background: rgba(219,217,216, 1); position: absolute; bottom: -2px; left: 50%; transform: translate(-50%);
                     transition: .6s;
                 }
                 &:hover{
                     &:after{  width: 9.6vw;}
                 }
            }
        }

        &:hover{
            &:before{content:''; display: block; position: absolute; width: 92.39%; height: 89%;  pointer-events: none; }
            .content{opacity: 1; pointer-events: auto;}
            .hover-image{opacity: 1; pointer-events: auto; cursor: pointer;}
        }
    }
//thin-border-square

//transparent-square-inside
    .transparent-square-inside{position: relative; cursor: pointer; margin-bottom: 0%; z-index: 2;
        img {position: absolute; width: 100%; height: 100%; z-index: 1; -o-object-fit: fill; object-fit: fill; top: 50%; left: 50%;
            transform: translate(-50%, -50%);}
        &.black{
            .content{
                h3,span{color: #fff!important;}
                &:after{background: rgba(0, 0, 0, 0.8); }
            }
        }
        &.white{
            .content{
                h3,span{color: #000!important;}
                &:after{background: rgba(255, 255, 255, 0.8); }
            }
        }
        .content {position: absolute; left: 50%;top: 50%;transform: translate(-50%, -50%);  width: 100%; height: 100%;
             display: -webkit-box; display: -ms-flexbox; display: flex; align-items: center;flex-wrap: wrap; justify-content: center; opacity: 0; pointer-events: none;
             transition: .8s; align-content: center; z-index: 2;overflow: hidden;
             &:after{@include positionCenter; content: ''; width: 110%; height: 110%; z-index: 3; transition: .8s;}
             h3{@include cambria;font-size: 1.88vw; font-weight: 400; margin: 0px 0 30px; transition: .6s; width: 100%; text-align: center;z-index: 4;}
             span{ text-transform: uppercase;position: relative; z-index: 4; @include proxima; font-weight: 100;}
        }
        &:hover{
            .content{opacity: 1; pointer-events: auto;

            }
            & h3{transform: translateY(0px); position: relative;}
            span{text-decoration: underline;}
        }
    }

//transparent-square-inside

//side-filter-menu

.side-filter-menu{width:  22.39583vw; margin-left: - 21.35416vw; background-image: linear-gradient( 90deg, rgb(224,223,223) 0%, rgb(242,242,242) 100%);
     transition: .6s; position: relative; cursor: pointer;
    &.visible{margin-left: 0vw;min-height: 100%;
        .toggle-side_menu-button{
            span{opacity: 1;
                &:after{ transform: rotate(-225deg); top: 0%;}
                &:before{ transform: rotate(-225deg); top: 0%;}
            }
            span+span{opacity:0;}
        }
    }
    .toggle-side_menu-button{background-color: rgb(105, 105, 105); position: absolute; height: 100%; right: 0; width: 1.04166vw; top: 0;
        span{opacity: 0; position: absolute; transform: translate(-50%, -50%) rotate(90deg); width:  6.25vw; top: 50vh; left: 50%; display: block; font-size: 0.8333vw; transition: .6s;
            &:after{content: ''; width: 0.52083vw; min-height: 0.52083vw; border-top:2px solid #fff; border-right: 2px solid #fff;  position: absolute; left: -15px; top: 40%; transform: rotate(-45deg);transition: .6s;}
            &:before{content: ''; width: 0.52083vw; min-height: 0.52083vw; border-top:2px solid #fff; border-right: 2px solid #fff;  position: absolute; right: 0px; top: 40%; transform: rotate(-45deg); transition: .6s;}
        }
        span+span{opacity:1;}
    }

}

//side-filter-menu

//pagination-section
    .paginator-section{
        .wrapper{max-width: 25.320833vw; margin: 0 auto;}
        .paginator{ display: flex; justify-content: space-between; width: 200%; margin: 2.525vw 0 4.50875vw; align-items: flex-end;
            li{min-height: 100%;
                a{display: flex; justify-content: center; align-items: flex-end;  align-content: flex-end;color: rgba(0, 0, 0, 0.4); font-size:  1.302083vw; transition: .6s;
                     letter-spacing: 0px;
                    &:hover{color: rgb(210, 84, 0);}
                }
                &:not(.prev, .next){}
                .current-page{font-size: 2.2916666vw; color: #000; cursor: auto; pointer-events: none;line-height: 0.75; margin: 0px;}
            }
            .prev{position: relative; min-height: 50px; display: block; padding-top: 0px; width : 1.82291vw;
                a{ flex-wrap: wrap;  position: relative; top: 1.30208vw;}
                img{transform: rotate(180deg); filter: grayscale(100%) contrast(500%) invert(0);transition: .6s; display: block; margin-bottom: 1.04166vw;}
                &:hover{
                    img{ filter: none;}
                    span{color: rgb(210, 84, 0);}
                }
                span{content: 'Prev';   color: #000;transition: .6s;  display: block;
                    @include proxima; font-weight: 100; font-size:  0.9375vw;}
            }
            .next{ display: block; position: relative; min-height: 50px;padding-top: 0px;
                   width :1.82291vw;
                a{ flex-wrap: wrap; justify-content: flex-end; position: relative; top: 1.30208vw;}
                img{filter: grayscale(100%) contrast(500%) invert(0);transition: .6s; margin-bottom: 1.04166vw;}
                &:hover{
                    img{ filter: none;}
                    span{color: rgb(210, 84, 0);}
                }
                span{content: 'Next';   color: #000;transition: .6s; display: block;
                    @include proxima; font-weight: 100; font-size:  0.9375vw;}
            }
        }
    }
//pagination-section
