/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;}
html{height:100%; font-size: 16px;}
body{min-height:100%;width:100%;min-width:320px;font-family:Cambria, arial,sans-serif;background:#fff;color:#fff;position:relative;line-height: 1; overflow-x: hidden;}
img{vertical-align:bottom;border:0;max-width:100%;}

/* helping adds*/
.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}
.hidden-block{position:absolute;left:-99999em;top:-99999em;}

/* /helping adds*/

/* wraps styling*/

.mbox{max-width:1024px;width:100%;margin:0 auto;position:relative;z-index:1;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* /wraps styling*/

.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}

input, textarea{
    &::-webkit-input-placeholder {color:#212121;}
    &:-moz-placeholder {color:#212121;opacity:1;}
    &::-moz-placeholder {color:#212121;opacity:1;}
    &:-ms-input-placeholder {color:#212121;}
}

a{text-decoration: none;  color: #fff;}
ul{padding: 0;  list-style: none;}

/*fonts*/

@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "/fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

//  example->    @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);
@include font-face('ProximaNova', 'ProximaNova-Regular', 400);
@include font-face('ProximaNova', 'ProximaNova-Bold', 700);
@include font-face('ProximaNova', 'ProximaNova-Semibold', 600);
@include font-face('ProximaNova', 'ProximaNova-Light', 300);
@include font-face('ProximaNova', 'ProximaNovaT-Thin', 100);
@include font-face('ProximaNovaCond', 'ProximaNovaCond-Regular', 400);
@include font-face('ProximaNovaCond', 'ProximaNovaCond-Black', 800);
@include font-face('ProximaNovaCond', 'ProximaNovaCond-Thin', 200);
@include font-face('Cambria', 'Cambria', 400);

/*/fonts*/

/* /base styles */

/* mixins */
    @mixin button{display: flex; justify-content: center; align-items: center;  min-width:285px;  height: 60px; background: transparent; border:  1px solid #e77e22;
        color: #e77e22; transition: .6s;
        &:hover{background: #ff814f; color: #fff; border: 1px solid transparent; }
    }

    @mixin cambria{
        font-family: Cambria;

    }
    @mixin proxima{
        font-family: ProximaNova;
    }
    @mixin proximaCond{
        font-family: ProximaNovaCond;
    }

    @mixin headingLine{
        content: '';
        display: block;
        position: absolute;
        width: 165px;
        height: 1px;

    }

    @mixin positionCenter {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    @mixin flex-center{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    @mixin flex-between{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    @mixin psevdo-el{
        content: '';
        display: block;
        position: absolute;
    }
/* mixins */


/* ctext */
    h1, h2, h3{font-weight: 400;}
    .ctext{
        h1, h2, h3, h4, h5, h6{line-height: 1.25;margin-bottom: 15px;font-weight: 700; margin:15px 0; font-weight: 400;}
        h1{font-size: 5.25rem;}
        h2{font-size:  2.25rem;}
        h3{font-size: 1.875rem;}
        h4{font-size: 1.5rem;}
        h5{font-size: 20px;}
        h6{font-size: 16px;}
        p{margin-bottom: 10px;font-size: 16px; line-height: 1.33;}
    }
    .under-heading1{
        &h2{font-size: 1rem;
        }
    }
    .under-heading2{
        &h2{font-size: 1.125rem; font-family: ProximaNova;}
    }
    .under-heading3{
        &h2{font-size: 1.125rem; }
    }
    .text-type2{
        p{font-size: 0.875rem; @include proxima; line-height: 1.33; font-weight: 300; }
    }
    .text-type3{
        p{font-size: 1rem; @include proxima; line-height: 1.33; font-weight: 300; text-transform: uppercase;}
    }

/* /ctext */





/* styles for wp-admin panel */
body{
    &.customize-support{
        .wp-panel-show{top:32px;} //fixed elements (if their has top:0) must has class .wp-panel-show
    }
}
@media screen and (max-width: 782px){

    body{
        &.customize-support{
            .wp-panel-show{top:46px;}
        }
    }

    #wpadminbar{position: fixed!important;}

}
 /* /styles for wp-admin panel */


/*End Layout*/
