    @media screen and (max-width: 2560px){
        // .gallery_item{ margin-bottom: 1.04vw; }
        // .gallery_list.list1{margin-right: 1.04vw;}
        .slider_type_main .main_content .left_content{max-width: 30.2083vw;}
        .lister_container{width: 285px;}

        .gallery_item .transforming-container{width: auto; }

        .locations .up-arrow{
            p{width: 100%; text-align: center;}
        }
    }

    @media screen and (max-width: 1920px){
        .slider_type_main .main_content .left_content{max-width: 570px;}
    }

    @media screen and (max-width: 1770px){
        .slider_news_main .slide_wrapper{
            &>.content{max-width: 45.3125vw;}
            .content_container {
                padding: 0.7625vw 1.5625vw 1.3025vw 2.0041vw;
            }
        }
    }

    @media screen and (max-width: 1680px){

    }

    @media screen and (max-width: 1600px){
        .gallery_item.last-item p {
        margin-bottom: 2.36%;}
        .products .part .description{margin: 0 auto 5%;}
        .products  .part{
            // &:nth-child(1){padding-top:5%;}
        }
        .slider_project_main .middle_content .content_wrapper .content_container{padding: 2.5vw 2.5vw 2.6041vw 2.5vw;}
    }

    @media screen and (max-width: 1440px){
        .section-header .sliding-menu_wrap .arrow{   top: 59%; }
        .gallery_item.last-item p {
        margin-bottom: 0%;}
        .information-wrap {right: 30px;}
        .socials-buttons{right: 30px;
            a{
                &:before{content: ''; display: block; position: absolute; width: 1px; height: 15px;  background: #fff;  left: -2px; margin-top: -7.5px;transition: .6s;}
                &:after{content: ''; display: block; position: absolute; width: 1px; height: 15px;  background: #fff; right: -2px ; margin-top: -7.5px; transition: .6s;}
                &:hover{
                    &:before{content: ''; display: block; position: absolute; width: 1px; height: 15px;  background: #e77e22;  left: -8px; margin-top: -7.5px; }
                    &:after{content: ''; display: block; position: absolute; width: 1px; height: 15px;  background: #e77e22; right: -8px ; margin-top: -7.5px; }
                    img{filter: none;}
                }
            }
        }
        .slider_project_main .middle_content .content_wrapper .content_container .sub-heading p{font-size:0.8333vw; }
        .slider_type_main .main_content .btn_content_container{margin-bottom: 20px;
             a{min-width: 200px; height:50px;}
         }

    }

    @media screen and (max-width: 1366px){
        .slider_project_main .middle_content .content_wrapper .href_project_container{
            min-width: 13.239vw;

        }
    }
    @media screen and (max-width: 1279px){
        .menu-button{top: 35px;
        }
        .slider_type_main .language-picker{top: 35px;}
        .button-usual{width: 240px; height: 50px; font-size: 12px;}
        .styiled-link, .href_project_container, .link_news{ font-size:10px;}
        .styiled-link, .href_project_container, .link_news{width: 120px; padding-bottom:  3px; font-size: 10px;
                &:after{content: ''; position: absolute; width: 6px ;height: 6px; }
        }
        .slider_type_main{min-height: 700px;
            .logo-container{min-height: 90px;}
        }

        .slider_type_main .main_content h1, .slider_type_main .main_content h2{font-size: 48px;}
        .slider_type_main .main_content .left_content{margin-right:80px;
            &:before{display: none;

            }
        }

        // .gallery{ height: auto; max-height: none; padding-bottom: 50px;
        //     .sliding-menu_wrap{width: 540px;}
        //     .list2{display: none;}
        //     .list1{width: 100%; height: auto; max-height: none;
        //         .gallery_item{width: 49.5%!important;  height: 200px; max-width: none;
        //         }
        //     }
        //     .gallery_item, .gallery_item.big-image, .gallery_item.last-item  {
        //         .content{
        //             h2{font-size: 30px;}
        //             p{font-size: 14px;}
        //             span{font-size: 14px;}
        //         }
        //         h2{font-size: 30px;}
        //         p{font-size: 14px;}
        //         span{font-size: 14px;}
        //
        //     }
        //     .last-item{
        //          .button-usual{width: 190px; font-size: 10px; height: 40px;
        //         }
        //         &:before{display: none;}
        //     }
        // }
        .gallery{ height: auto; max-height: none; padding-bottom: 50px;
            .sliding-menu_wrap{width: 540px;}
            .list2{display: none;}
            .list1{width: 100%; height: auto; max-height: none; justify-content: space-around;
                .gallery_item{width: 320px;  height: 240px; max-width: none; margin-bottom: 30px;
                }
            }
            .gallery_item, .gallery_item.big-image, .gallery_item.last-item  { margin-right: 15px;
                .content{
                    h2{font-size: 30px;}
                    p{font-size: 14px;}
                    span{font-size: 14px;}
                }
                h2{font-size: 24px; }
                p{font-size: 12px; margin: 15px 0;}
                span{font-size: 14px;}

            }
            .last-item{
                 .button-usual{width: 190px; font-size: 10px; height: 40px;
                }
                &:before{display: none;}
            }
        }



        .lister_container{width: 200px; max-width: none; justify-content: space-between;
            .arrow{cursor: pointer;width: 29px; height: 15px; background-repeat: no-repeat; filter: grayscale(100%) contrast(2000%) invert(1); transition: .6s; margin-bottom: 20px;
            }
            .txt{font-size: 18px;}
            //number rotating animation
            .rotating-wraper{
                 width: 30px;
                 height: 40px;
            }
            .counter{ font-size: 38px; padding: 0 35px;
                span{font-size: 34px;}
            }
            .total-amount{font-size:  24px; }
        }



        .section-header .sliding-menu_wrap{
            ul{display: flex; flex-wrap: nowrap;}
            // max-width: 600px; width: 100%;
            .item{width: 135px;
                a{font-size: 14px;}
            }
        }

        .main-menu .menu-item-list{padding: 80px 0 50px;
            a{ font-size: 24px;}
        }

        .products{height: auto; max-height: none;
            &> .wrapper {

            min-height: calc(100% - 100px);
            justify-content: center;
            padding: 0 100px 100px;
                .image-wrap{ height: 240px;
                    img{}
                }
                .part{
                    width: 100%;
                    max-width:  320px;
                    min-height: 100%;
                    .image-wrap{
                        // height: calc(35.9375vw * 0.5);
                    }
                }
                .part:nth-child(1) {padding-top: 90px;

                }
                .button-usual{width: 240px; height: 50px; font-size: 12px;}


            }

        }

        .section_double-heading h2{font-size: 40px;  }
        .section_double-heading:before{font-size: 40px;}
        .slider_project_main{min-height: 900px; height: auto; max-height: none;
            .slide_nav_btn{width: 185px;  height: 65px;
                p{
                    margin-top: -16px; margin-left: -50px;

                }
                h3{font-size: 12px;}
            }
            .section_double-heading{ right: 50%; margin-right: -150px;
                &:after{display: none;}
            }
            .lister_wrapper{left: 50%; bottom: 15%; transform: translateX(-50%);}
            .button-usual{right: 50%; transform: translateX(50%); bottom: 40px;}

        }
        .slider_project_main .middle_content .content_wrapper .content_container .sub-heading p{font-size: 12px;}
        .slider_project_main .middle_content .content_wrapper .href_project_container{width: 180px; }
        .slider_project_main .middle_content .content_wrapper{ height:85%;
              .href_project_container{font-size: 13px;}
             .content_container{font-size: 14px;
                h3{font-size: 24px;}
             }
        }
        .slider_project_main .middle_content{width: 640px; min-height: 440px; top: 45%;

        }
        .slider_project_main .middle_content .main_img_wrapper{width: 370px;}
        .slider_project_main .middle_content .content_wrapper{width: 350px;}

        .advantages{max-height: none; height: auto;
            .section_double-heading{top: 100px; padding: 0; left: 50%; margin-left: -135px;
                &:after{display: none;}
                &:before{left: -20px;}
            }
             .wrapper{
                height: 100%;
                max-width: none;
                width: 100%;
                margin: 0 ;
                padding: 0;
                padding: 100px 30px 50px;

            }
            .advantages_list{justify-content: space-around;

            }
            .advantage_item{
                max-width: 320px;
                width: 100%;
                height: 360px;
                margin-bottom: 50px;
                margin-right: 30px;
                .content:hover{border: 1px solid rgba(255,255,255, 0.3);

                        &>img{opacity: 0;}
                }
                .content-wrap{ font-size: 13px; height: auto;
                    h3 {
                        font-size: 20px;
                        font-weight: 400;
                        margin: 0;
                    }
                    p{margin-bottom: 15px; }
                    .line{margin: 10px 0;}
                }
            }
        }

        .slider_news_main{min-height: 1000px;
            .button-wrap{position: absolute;bottom:30px; left: 50%;transform: translateX(-50%);

            }
            .section_double-heading{top: 100px; padding: 0; left: 50%; margin-left: -65px;
                &:after{display: none;}
                &:before{left: -20px;}
            }
            .slide_wrapper{
                right: auto;
                max-width: 680px;
                width: 100%;
                min-height: 250px;
                .news_image{max-width: 23.4%; width: 100%; height: 220px;}
                &>.content{max-width: 85%; height:  230px; width: 100%;
                    h3{font-size: 22px;}
                    .content{font-size: 14px; margin: 0;}
                }
                &:nth-child(1){right: auto;
                left: 50%; margin-left: -340px; top: 180px;}
                &:nth-child(2){right: auto; bottom: 240px;
                left: 50%; margin-left: -340px}
            }
            .lister_container{left: 50%; transform: translateX(-50%); bottom: 110px;}
            .link_news a{font-size:14px; }
            .info_block{font-size: 14px;}
        }

        .friends_slider_main{min-height: 0; height: auto;
            .section_double-heading{top: 100px; padding: 0; left: 50%; margin-left: -170px;
                &:after{display: none;}
                &:before{left: -20px; width: 120%;}
            }
            .friends_slider_main_wrap{ flex-wrap: wrap; justify-content: space-around; height: auto; padding-top: 110px; position: relative;top: 0;
                .item { min-width: 260px; min-height: 235px; margin-right: 20px; margin-bottom: 30px; position: relative;}
                .back_image_wrapper{min-width: 94.59%;}
                .main_content{min-width:94.59%; min-height: 93.93%; font-size: 14px; padding: 15px;
                    h3{font-size: 20px;}
                }
            }
        }

        .locations{padding-bottom: 150px; max-height: none; padding-top: 50px;
        height:auto; min-height: 0;
            .map-container{position: relative; margin: 0 auto; min-width: 90%; top: 0; left: 0;
                    transform: translateX(0%); margin-top: 40px; min-height:300px; height:400px;
            }
            .info-block{width: 270px; height: 270px;}
            .logo-container{height: 77px;
                img{width: 105px; height: 77px; }
            }
        }

        .footer-section{
            .sitepages{
                li{ margin: 0 10px;display: flex; height: auto; padding-bottom: 30px;
                    a{display: flex; margin: 0; height: auto; min-height: 0; font-size: 16px; line-height: 1;}
                }
            }
            .link-list{ flex-wrap: wrap; justify-content: space-around; align-items: center; align-content: center; margin-bottom: 0;
                li{ margin: 0 10px;display: flex; height: auto; padding-bottom: 30px;
                    a{display: flex; margin: 0; height: auto; min-height: 0; font-size: 16px; line-height: 1;}
                }
            }
        }

        .locations{
            .info-block{ font-size: 14px;
                a{font-weight: 400;}
            }
            .bottom{width: 100%;
                a{font-size: 16px;}
            }
        }

        .locations .up-arrow{ width: 65px; height:  65px; border: 1px solid rgb(207, 125, 47); color: rgb(207, 125, 47);  padding:  8px   8px; right: 5.2%; top: 3.7%; font-size: 15px;
            p{margin: 8px 0 0;}
        }
    }

    @media screen and (max-width: 1024px){

    }
    @media screen and (max-width: 992px){
        .mramor_paralax_item{display: none;}
        .slider_type_main{min-height: 600px; }
        .slider_type_main .main_content h1, .slider_type_main .main_content h2{font-size: 42px; margin-bottom: 10px;}
        .slider_type_main .main_content .description_container {font-size:14px; margin: 10px 0;
            p{font-size:14px;}
        }
        .slider_type_main .main_content .right_content{display: none; }
        .slider_type_main .main_content .left_content{margin-right:0px; justify-content: flex-start; padding: 0;}
        .slider_type_main .main_content .btn_content_container a{margin: 0 auto;}
        .slider_type_main .main_image_container img{object-fit: cover; width: 100%; min-height: 100%;}
        .slider_type_main .main_content p{margin-bottom: 0;}

        .slider_type_main .main_content .left_content:before{top: 10%;}
        .navigate-button{display: none;}

        .section-header .wrapper{ height: 80px;}
        // .gallery{
        //
        //     .sliding-menu_wrap{
        //         // width: 530px;
        //         // .sliding-menu{height: 100%;}
        //     }
        //     .list2{display: none;}
        //     .list1{width: 100%; height: auto; max-height: none; justify-content: center;
        //         .gallery_item:not(.last-item){width: 100%!important;  height: 200px; max-width: none;
        //                 h2{font-size: 38px;}
        //                 span{font-size: 16px;}
        //                 p{font-size: 16px;}
        //
        //         }
        //         .last-item{
        //             &:before{display: none;}
        //             h2{font-size: 30px;}
        //             span{font-size: 16px;}
        //             p{font-size: 16px;}
        //             height: auto;
        //             .wrap-heading{width: 100%;}
        //             .text-wrap{width: 100%;
        //                 p{margin: 10px 0 20px;}
        //             }
        //             .button-usual{font-size: 13px; width: 260px; padding: 20px 0;}
        //
        //         }
        //     }
        // }



        .products{height: auto; max-height: none;
            .section_double-heading{top: 90px; left: 50%; margin-left: -160px;
                &:before{left: 30px;font-size: 48px;

                }
                &:after{display: none;}
                h2{font-size: 48px;}
            }
            &> .wrapper {
            min-height: calc(100% - 100px);
            padding: 0 100px 100px;
            flex-wrap: wrap;
                .part{
                    &>a{width: auto;}
                    width: 100%;
                    max-width: none;;
                    min-height: 100%;
                    justify-content: center;
                    .line:before{width: 110px; margin-left: -55px;}
                    .image-wrap{width: 100%; width: 320px;
                        margin: 0 auto 50px;
                        .content{
                            h3{font-size: 30px;}
                        }
                    }
                }
                h3{font-size: 30px;}
                p{font-size: 14px}
                .part:nth-child(1) {margin: 0 0 30px 0; padding-top: 110px;
                }
            }
            .button-wrap {
                .button-usual {
                    margin: 0 auto;
                    cursor: pointer;
                }
            }
        }

        .slider_project_main .middle_content{width: 100%; max-width: 600px;
        }

        .main-menu{
            .language-picker{position: absolute; right: 30px; top: 80px;}
        }


    }
    @media screen and (max-width: 767px){


        .gallery{
            .list1{
                .last-item{
                    // width: 100%!important;
                }
                .gallery_item, .gallery_item.big-image, .gallery_item.last-item  {margin: 0 15px 15px 15px;}
            }
        }

        .slider_project_main{min-height: 1000px;
             .main_content{padding: 0 10px;}
             .middle_content{min-height: 600px;
                 .main_img_wrapper{height: 420px; max-width: 370px; width: 100%;}
                .content_wrapper{top: auto; bottom: 0; transform: translateY(0%); height: 340px; max-width: 350px; width: 100%;
                    .main_img_wrapper{padding: 10px 5px;}
                }
            }
            .slide_nav_btn.next{right: -65px;}
            .slide_nav_btn.prev{left: -65px;}
        }

        .slider_project_main {
            .background-image1, .background-image2{display: none;

            }
        }

        .slider_news_main{min-height: 1500px;
            .section_double-heading{top: 100px; padding: 0; left: 50%; margin-left: -65px;
                &:after{display: none;}
                &:before{left: -20px;}
            }

            .slide_wrapper{
                right: auto;
                max-width: 320px;
                width: 100%;
                min-height: 500px;

                .news_image{max-width:none; width:240px; height: 260px; left: 50%; transform: translateX(-50%);
                    &:after{display: none;}

                }
                &>.content{max-width: 320px; height:  270px; width: 100%; left: 50%; transform: translateX(-50%); right: auto;
                    .content_container{padding: 10px 10px;
                        h3{font-size: 18px; margin: 0px 0;}
                        .line:before{width: 50px; margin: 0px 0;}
                        .content{font-size: 12px; margin: 0px 0;
                            p{margin: 0;}
                        }
                    }

                }
                &:nth-child(1){right: auto;
                left: 50%; margin-left: -160px; top: 180px;}
                &:nth-child(2){right: auto; bottom: 240px;
                left: 50%; margin-left: -160px;
                    .news_image{left: 50%;}
                    .content_container{left: 50%;}
                }
            }
            .lister_container{ bottom: 110px;}
            .link_news{width: 120px;}
            .link_news a{font-size:12px;   }
            .info_block{font-size: 14px;}

        }

        .locations{padding-bottom: 180px;
            .map-container{ min-height:300px; height:500px;
            }
            .info-block{width: 270px; height: 270px; left: 0;}
            .logo-container a{width: 105px;}
        }
        .section-header .sliding-menu_wrap{ width: 270px;

        }

        .slider_project_main{
             .middle_content {
                width: 100%;
                max-width: 500px;}
            .slide_nav_btn.next{right: -75px; top: 270px; height: 35px; }
            .slide_nav_btn.prev{left: -75px; top: 270px; height: 35px; }
        }
        .slider_project_main .middle_content{
            .main_img_wrapper{left: 50%; margin-left: -185px;}
            .content_wrapper{left: 50%; margin-left: -175px; height: auto;padding-bottom: 45px;
                .content_container{padding: 10px;}
                .line{ display: none;}

            }
        }

    }
    @media screen and (max-width: 666px){
        .menu-button{ left: 10px; top: 25px;}
        .slider_type_main .language-picker{top:25px;}
        .slider_type_main .main_content h1, .slider_type_main .main_content h2{font-size: 38px;}
        .slider_type_main .main_content{padding: 20px;}
        .socials-buttons{
            .line{ display: none;}
        }
        .slider_type_main .main_content .left_content:before{display: none;}
        .slider_type_main .main_content .description_container{
            p{font-size:12px;}
        }
        .main-menu{
            .menu-item-list{padding-bottom: 70px;}
            .menu-item a{font-size: 14px;}
            .socials-buttons{ right: auto; left: 30px; bottom: 40px; width: 200px; top: auto;
                a{width: 30px; margin-right: 30px; margin-bottom: 0;}
            }
            .information-wrap{bottom: 45px;}
        }

        .lister_container .arrow{ margin-bottom: 10px;

        }
        .lister_container .counter{padding: 0 20px;}

        .slider_type_main .main_content .left_content{padding: 30px 50px 0 40px;}
        .products{

            .section_double-heading{ margin-left: -120px;
                &:before{font-size: 30px;

                }
                &:after{display: none;}
                h2{font-size: 30px;}
            }
            &> .wrapper {
            min-height: calc(100% - 100px);
            padding: 0 30px 30px;
                .part{
                    &>a{width: 100%;}
                    .image-wrap{max-width: 320px; width: 100%;
                        // width: 100%;
                        // max-width: 69.069vw; height: calc(69.069vw * 0.5536);
                        margin: 0 auto 30px;
                        .content{
                            h3{font-size: 24px;}
                        }
                    }
                }
                h3{font-size: 24px;}
                p{font-size: 12px}
                .part:nth-child(1) { padding-top: 110px;
                }
            }
            .button-wrap {
                .button-usual {
                    margin: 0 auto;
                }
            }
        }

        .slider_project_main .middle_content{
            .main_img_wrapper{left: 50%; margin-left: -185px;}
            .content_wrapper{left: 50%; margin-left: -175px;
                .content_container{padding: 10px;}
                .line{ display: none;}

            }
        }

        .advantages  .advantage_item, .advantage_item:not(:last-child) {
            margin-right: 0;
        }
        .advantages_list .advantage_item:not(:last-child){margin-right: 0;}
        .friends_slider_main .friends_slider_main_wrap .reserved{ padding-left: 20px;  min-width: 260px; min-height: 150px;}
    }

    @media screen and (max-width: 479px){


        .gallery{
            .list1{
                .gallery_item:not(.last-item){
                    h2{font-size: 28px;}
                    span{font-size: 14px;
                        &:after{display: none;}
                    }
                    p{font-size: 14px;}

                }
                .last-item{margin-top: 20px!important;
                    h2{font-size: 20px;}
                    p{font-size: 12px; line-height: 1.4;}
                    .button-usual{font-size: 10px; width: 190px;}
                    width: 100%!important;
                }
            }
        }
        .logo-container{min-height: 70px;
            a{width: 80px;}
        }
        .slider_type_main .logo-container {
            min-height: 80px;
        }

        .slider_type_main .language-picker{top: 3%;

        }
        .socials-buttons{ right: auto; left: 30px; bottom: 52px; width: 200px; top: auto;
            a{width: 30px; margin-right: 30px; margin-bottom: 0;}
        }
        .menu-button{top: 15px;
            .background{display: block;}
        }
        .slider_type_main .language-picker{top: 15px;}
        .slider_type_main .main_content h1, .slider_type_main .main_content h2 {
            font-size: 24px;
            margin: 0;
        }
        .slider_type_main .main_content .left_content{
            padding: 30px 0px 0 0px;
            justify-content: center;
            h2,h1{text-align: center;}
        }
        .products .section_double-heading{margin-left: -70px;}
        .products .section_double-heading:before{left: 15px;}
        .products > .wrapper .part .image-wrap .content h3{font-size: 20px;}

        .slider_project_main .section_double-heading{margin-right: -100px;
        }

        .slider_project_main{ .middle_content{left: 0;right: 0; transform: translate(0%, -50%);
            }
        }

        .slider_type_main .main_content .btn_content_container a{left: 50%; margin: 0 0 0 -100px;}
        .section-header .sliding-menu_wrap{width: 250px;
            .sliding-menu{width: 100%;justify-content: space-between; display: flex;}
            .item {
                width: 45%;
            }
        }

        .slider_type_main .main_content {align-items: flex-start; align-content: flex-start; padding-top: 75px;}
        .slider_type_main .main_content .description_container{font-size: 11px; margin: 0 0 15px 0;
            p{font-size:11px;}
        }
        .title_container{margin-bottom: 15px;}

        .friends_slider_main{ min-height: 0; height: auto;
            .section_double-heading{ margin-left: -120px;
                h2{font-size: 28px;}
                &:before{left: -20px; width: 120%; font-size: 28px;}
            }
            .friends_slider_main_wrap{ flex-wrap: wrap; justify-content: space-around; height: auto; padding-top: 110px; position: relative;top: 0;
                .item { min-width: 260px; min-height: 235px; margin-right: 20px; margin-bottom: 30px; position: relative;}
                .back_image_wrapper{min-width: 94.59%;}
                .main_content{min-width:94.59%; min-height: 93.93%; font-size: 14px; padding: 15px;
                    h3{font-size: 20px;}
                }
            }
        }
        .friends_slider_main .friends_slider_main_wrap .reserved{ padding-left: 20px;  min-width: 260px; min-height: 150px;}

        .main-menu{
            .language-picker{position: absolute; right: 10px; top: 60px;}
        }

        .locations{
            .info-block{width: 100%;}
            .up-arrow{ width: 55px; height:  55px; border: 1px solid rgb(207, 125, 47); color: rgb(207, 125, 47);  padding:  7px   7px; right: 5.2%; top: 3.7%; font-size: 14px;
                p{margin: 7px 0 0;}
            }
        }


    }

    @media screen and (max-width: 400px){
        .slider_project_main .middle_content{
            .main_img_wrapper{width: 100%; left: 0%; margin-left: 0px;}
            .content_wrapper{width: 100%; left: 0; margin-left: 0;}
        }
    }

    @media screen and (max-width: 380px){
        .products > .wrapper .part .image-wrap{height: 63.1578vw;}
    }



    @media screen and (max-width: 320px){

    }
