@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1279px){
    .breadcrumbs li{font-size: 10px;}
    .materials_inner .inner-item_container-section{
        .inner-wrap{max-width: 920px;}
        .column{width: 320px;}
        .column+.column{max-width: 566px; width: 100%;
            h3:nth-of-type(1){
                    &+.line{margin-bottom: 40px;}
            }
            .thin-border-square{width:  176px; height: 131px;margin-bottom: 20px;
                &.black-font{
                    .content{font-size: 12px;
                        h3,h2{ margin-bottom: 20px;}
                        span{margin: 0;
                            &:after{background: rgba(53,53,53, 1); }
                        }
                    }
                }
                &:before{ width: 105%; height: 108%;}
                .content{ padding: 0 10px; font-size: 12px;
                    h3,h2{font-size:18px;color: #000;margin-top: 0; line-height: 1.1;margin-bottom: 30px;}
                    span{margin: 0;
                        &:after{background: rgba(53,53,53, 1); }
                    }
                }
            }

            .transparent-square-inside{width: 273px; height: 203px; box-shadow: 0px 13px 21px 0px rgba(0, 0, 0, 0.3);
                .content{
                     &:after{ width: 110%; height: 120%;}
                     h3{font-size: 18px;}
                }
                &:hover{
                    .content{
                        &:after{width: 246px; height: 176px;}
                    }
                }
            }

        }
    }
    .inner-item_container-section{

        .column{
            .item-description{height: 1126px; }
        }
        .column+.column{
            h3:nth-of-type(1){
                    &+.line{
                        &:before{ }
                    }
            }
            h3{margin-bottom: 25px;}

            .line{margin-bottom: 23px;}
        }

        h2,h3{margin: 0; font-size: 18px;}
        p{margin: 0;}
        .main-image{width: 100%; margin-bottom: 33px;
            img{ width: 100%;}
        }
        .item-description{ padding: 25px 29px 25px 25px;  font-size: 12px;
            h2{ margin-bottom: 15px; font-size: 18px; }

            h3{ margin-bottom: 25px; font-size: 18px; }
            p{margin-bottom: 15px; }


            .item-sescription-cover{
                &.one-column ul{height:70px;}
                ul{height:30px;margin: 0 0 18px 0;
                    li:nth-child(odd){
                        margin-bottom:5px;
                    }
                }
            }
            .button-usual{margin: 0 auto 30px;}
            .line{margin:0vw  0  37px;}
        }

        .item-container{ margin-bottom: 15px;
            .item{margin-bottom: 20px;}
        }
        .line{ position: relative;width: 100%; height: 1px; margin: 0vw  0  3.125vw;
            &:before{content: ''; position: absolute; width: 4.7vw; height: 1px; background: rgb(0, 0, 0); left: 0; }
        }

    }
    .backward-link{ margin-bottom: 33px; padding-left: 20px; position: relative;
        &:before{content: ''; width: 8px; min-height: 8px; border-top: 1px solid #fff; border-left: 1px solid #fff; position: absolute; left: 0; top: 50%;
             transform: translateY(-50%) rotate(-45deg);}
        a{font-size:  12px; text-transform: uppercase;}
     }

    //item_container-section
     .item_container-section{
         .inner-wrap{ max-width:none; padding: 33px 0; width: 100%;}
         .five-in-line{margin: 0 0 18px  0; max-width:  682px; margin: 0 auto;
             .thin-border-square{margin-bottom: 6px;  max-width:  166px; width: 100%; height: 124px;
                 .content{font-size: 12px; padding:5px;
                     h2{font-size: 22px; margin: 2px 0 5px 0; line-height: 1;}
                     p{margin: 0 0 5px 0;}
                 }
             }
         }

         .one-in-line{max-width:  860px; margin: 0 auto;
             &.visible{opacity: 1; pointer-events: auto; display: block;}
             .item{display: flex; width: 100%; justify-content: space-between;margin-bottom: 20px; flex-wrap: wrap;

             }
             .thin-border-square{max-width:  273px; width: 100%; height: 206px; margin: 0 20px 0px 0;
                 .content{font-size: 16px;
                    p{margin: 16px 0;}
                 }
             }
             .item_info-block{width: 566px; background: rgb(255, 255, 255); color: #000; padding: 22px 0vw 20px 32px;
                 a{display: inline-block; width: auto;}
                  h2{color: #000; font-size: 24px; margin:  0px 0 14px; }
                 .description{ font-size:  12px;    line-height: 1.3;
                     h3{margin: 0 0 5px 0; font-size: 16px;}
                 }
                 .description-item{display: inline-block;   margin-bottom: 1.041666vw; width: auto; max-width: 180px; margin-right: 1.041666vw;
                 }
                 .empty{width: 122px;}
             }
         }

         .load-more{width: 8.8075vw; margin: 0px auto 0;padding-top: 10px;
             a{ font-weight: 400; font-size: 0.8333vw; color: rgb(231, 126, 34); display: flex; text-transform: uppercase; line-height: 1.2;}
         }
     }
     //item_container-section

     //side-filter-menu

     .side-filter-menu{width:  286px; margin-left: - 261px;
         &.visible{
             .toggle-side_menu-button{
                 span{
                     &:after{ transform: rotate(-225deg); top: 10%;}
                     &:before{ transform: rotate(-225deg); top: 10%; right: -5px;}
                 }
            }
        }
         .toggle-side_menu-button{  width: 25px;
             span{ width:  100px;  font-size: 15px; left:60%;
                 &:after{ width: 8px; min-height: 8px;  top: 40%;  }
                 &:before{content: ''; width: 8px; min-height: 8px; top: 40%;right:- 15px;}
             }
         }
     }
     //side-filter-menu

     .paginator-section{
          .wrapper{width: 320px; max-width: none;}
          .paginator{margin: 32px 0 57px;
              li a{ font-size: 16px;
                &.current-page{font-size: 29px;}
              }
            .prev, .next{ width: 23px;
                a{top: 16px;
                    img{margin-bottom: 16px;}
                }
                span{font-size: 12px;}
            }
          }
     }

     .filter-section{min-height: 78px;}
}

@media screen and (max-width: 1124px){
    .item_container-section{
        .one-in-line{width: 566px;
            .item{justify-content: center;}
            .thin-border-square{position: relative; }
            .item_info-block{position: relative; z-index: 5;margin-top: -20px;}
        }
    }
}

@media screen and (max-width: 1024px){
    .item_container-section{
        .five-in-line{max-width:  492px;
            .thin-border-square{margin-bottom: 6px;  max-width:  160px; width: 100%; height: 120px;
                .content{font-size: 11px;
                    h2{font-size: 22px; margin: 2px 0 5px 0; }
                    p{margin: 0 0 5px 0;}
                    span{font-weight: 400;}
                }
            }
        }
    }
    .side-filter-menu{width:  256px; margin-left: - 236px;

    }
}
@media screen and (max-width: 992px){
    .inner-top-block{min-height: 500px;}
    .regular-single_heading h1, .regular-single_heading h2{font-size: 4.8225vw;}
    .materials_inner .inner-item_container-section{
        .inner-wrap{max-width: 920px;padding: 0 20px; }
        .column{width: 100%;
            .main-image{width: 320px; margin-bottom: 33px;
                img{ width: 100%;}
            }
            .item-description{height: auto; display: flex;  flex-wrap: wrap;
                .item-sescription-cover{width: 290px;}
                h2,h3{}
                ul{width: 320px;}
            }
            .button-cover{width: 100%;}
        }
        .column+.column{max-width: 590px; width: 100%;padding: 30px 10px; margin: 0 auto;
            .item-container{}
            h3:nth-of-type(1){color: #000;
                    &+.line{margin-bottom: 40px;
                        &:before{background: #000;}
                    }
            }
            .thin-border-square{width:  176px; height: 131px;margin-bottom: 20px;
                &.black-font{
                    .content{font-size: 12px;
                        h3,h2{ margin-bottom: 20px;}
                        span{margin: 0;
                            &:after{background: rgba(53,53,53, 1); }
                        }
                    }
                }
                &:before{ width: 105%; height: 108%;}
                .content{ padding: 0 10px; font-size: 12px;
                    h3,h2{font-size:18px;color: #000;margin-top: 0; line-height: 1.1;margin-bottom: 30px;}
                    span{margin: 0;
                        &:after{background: rgba(53,53,53, 1); }
                    }
                }
            }

            .transparent-square-inside{width: 273px; height: 203px; box-shadow: 0px 13px 21px 0px rgba(0, 0, 0, 0.3);
                .content{
                     &:after{ width: 110%; height: 120%;}
                     h3{font-size: 18px;}
                }
                &:hover{
                    .content{
                        &:after{width: 246px; height: 176px;}
                    }
                }
            }
        }
    }

    .side-filter-menu{
        .toggle-side_menu-button{  width: 25px;
            span{ left:70%;}
        }

    }

}
@media screen and (max-width: 767px){
    .item_container-section{position: relative;
        .five-in-line{
            .thin-border-square{margin-bottom: 6px;  max-width:  160px; width: 100%; height: 120px;
                .content{
                    h2{font-size: 22px; }
                    span:after{display: none;}
                }
            }
        }
    }

    .side-filter-menu{width:  100%; margin-left: 0; position:absolute; height: 100%;z-index: 7; left:calc(-100% + 20px);
        &.visible{left: 0vw; min-height: 100%;}
        .toggle-side_menu-button{
            span{left: 60%;
                &:after{ width: 8px; min-height: 8px;  }
                &:before{content: ''; width: 8px; min-height: 8px; }
            }
        }
    }

    .regular-top-block{min-height: 220px;}

    .regular-double_heading{
        h1, h2 {
            font-size: 30px;
        }
        &:before {

            font-size: 30px;
        }
    }

}
@media screen and (max-width: 666px){
    .inner-top-block{min-height: 400px;}
    .regular-single_heading{top: 34%;}
    .materials_inner .inner-item_container-section{
        .column+.column{max-width: 390px; width: 100%;padding: 30px 10px; margin: 0 auto;

        }
    }

    .item_container-section{position: relative;
        .inner-wrap{
            .five-in-line{width: 326px; max-width: none;}
        }
        .one-in-line{width: 410px;
        }

    }
}
@media screen and (max-width: 479px){
    .inner-top-block{min-height: 350px;}
    .regular-single_heading{top: 34%;}
    .materials_inner .inner-item_container-section{
        .inner-wrap{max-width: 920px;padding: 0 20px; }
        .column{width: 100%;
            .main-image{width: 100%;

            }
            .item-description{height: auto; display: flex;  flex-wrap: wrap;
                .item-sescription-cover{width: 290px;}
                ul{width: 100%;}
            }
        }
        .column+.column{
            h3{line-height: 1.4;}
        }
    }

    .item_container-section{position: relative;
        .inner-wrap{
            .five-in-line{width: 160px; max-width: none;}
            .one-in-line{width: 240px;
                .thin-border-square{position: relative; margin: 0;}
                .item_info-block{position: relative; z-index: 1;margin-top: -20px;
                    .description-item{width:  100%;}
                }
            }
        }
    }

    .breadcrumbs{
        top: 0px;
        right: 10px;
    }

    .paginator-section{
         .wrapper{width: 300px; }
     }
     .regular-single_heading h1, .regular-single_heading h2{font-size: 5.2104vw;

     }
}
@media screen and (max-width: 320px){

}
