<div class="section advantages -mramor_paralax">
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="90%" data-y="5%" data-invert="1" data-y-range="100" data-x-range="100" data-z-index="0"></div>
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="3%" data-y="80%" data-invert="1" data-y-range="300" data-x-range="100" data-z-index="0"></div>
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="97%" data-y="80%" data-invert="0" data-y-range="500" data-x-range="100" data-z-index="0"></div>
    <div class="icon-row">
        <a href="#">
            <img src="../images/section-logo.png" alt="">
        </a>
    </div>
    <div class="section_double-heading" data-backwards="Advantages" data-aos="fade-right" data-aos-once="true">
        <h2>Преимущества</h2>
    </div>
    <div class="wrapper">
        <div class="paralax-squear" id="paralax-squear9"></div>
        <ul class="advantages_list flex-cont">
            <li class="advantage_item" data-aos="flip-left" data-aos-once="true">
                <div class="paralax-squear" id="paralax-squear6"></div>
                <div class="image-wrap">
                    <img src="../images/advantage-image1.jpg" alt="">
                </div>
                <a href="#" class="content">
                    <img src="../images/advantage-clone1.jpg" alt="">
                    <div class="content-wrap">
                        <h3>Технологии производства</h3>
                        <div class="line"></div>
                        <p>Вы сможете подобрать необходимый материал, и узнать особенности камней, и их текстуры. Для всех материалов доступны форматы изделий и есть примеры проектов, где они применяются.</p>
                        <span class="styiled-link">подробнее</span>
                    </div>
                </a>
            </li>

            <li class="advantage_item" data-aos="flip-left" data-aos-delay="500" data-aos-once="true">
                <div class="paralax-squear" id="paralax-squear7"></div>
                <div class="image-wrap">
                    <img src="../images/advantage-image2.jpg" alt="">
                </div>
                <a href="#" class="content">
                    <img src="../images/advantage-clone2.jpg" alt="">
                    <div class="content-wrap">
                        <h3>Уникальные карьеры</h3>
                        <div class="line"></div>
                        <p>Вы сможете подобрать необходимый материал, и узнать особенности камней, и их текстуры. Для всех материалов доступны форматы изделий и есть примеры проектов, где они применяются.</p>
                        <span class="styiled-link">подробнее</span>
                    </div>
                </a>
            </li>

            <li class="advantage_item" data-aos="flip-left" data-aos-delay="1000" data-aos-once="true">
                <div class="paralax-squear" id="paralax-squear8"></div>
                <div class="image-wrap">
                    <img src="../images/advantage-image3.jpg" alt="">
                </div>
                <a href="#" class="content">
                    <img src="../images/advantage-clone3.jpg" alt="">
                    <div class="content-wrap">
                        <h3>Обработка камня</h3>
                        <div class="line"></div>
                        <p>Вы сможете подобрать необходимый материал, и узнать особенности камней, и их текстуры. Для всех материалов доступны форматы изделий и есть примеры проектов, где они применяются.</p>
                        <span class="styiled-link">подробнее</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>

</div>
