<div class="slider_type_main ctext -mramor_paralax">
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="69%" data-y="1%" data-invert="1" data-y-range="500" data-x-range="100" data-z-index="0"></div>
    <div class="logo-container">
        <a href="#">
            <img src="../images/main-logo-orange.png" alt="">
        </a>
    </div>
    <div class="socials-buttons">
        <div class="line"></div>
        <a href="#"><img src="../images/soc-link1.png" alt=""></a>
        <a href="#"><img src="../images/soc-link2.png" alt=""></a>
        <a href="#"><img src="../images/soc-link3.png" alt=""></a>
    </div>
    <div class="language-picker flex-cont">
        <a href=""><div class="language flex-cont">EN</div></a>
        <a href=""><div class="language flex-cont">RU</div></a>
        <a href=""><div class="language flex-cont">IT</div></a>
    </div>

    <div class="information-wrap flex-cont">
        <div class="info-popup">
            <p>Новых новостей нет.</p>
        </div>
        <span>i</span>
    </div>

    <div class="navigate-button"></div>

    <div class="-slider_type_main">
        <div class="-item">
            <div class="-title" data-desc-in-anim="fadeInDown" data-desc-out-anim="fadeOutDown" data-in-mob-anim="fadeInDown3" data-out-mob-anim="fadeOutDown3">
                <h1>Породы камня со всего мира1</h1>
            </div>
            <div class="-description" data-desc-in-anim="fadeInDown" data-desc-out-anim="fadeOutDown" data-in-mob-anim="fadeInDown2" data-out-mob-anim="fadeOutDown2">
                <p>
                    Санкт-петербургская дизайн-студия Plan S-23  создала<br>
                    объект-посвящение советскому спутнику: кофейный<br>
                    столик Sputnik-5, который одновременно служит <br>
                    горшком для цветка.
                </p>
            </div>
            <a class="-btn_content" href="#" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeInDown1" data-out-mob-anim="fadeOutDown1">создать свой проект</a>
            <img alt="false" src="../images/Switzerland1.jpg" class="-main_image" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut">
            <img alt="false" src="../images/image-for-slider1.png" class="-small_image" data-desc-in-anim="fadeInDown" data-desc-out-anim="fadeOutUp" data-in-mob-anim="fadeInDown" data-out-mob-anim="fadeOutUp">
            <img alt="false" src="../images/image-for-slider1.png" class="-mobile_image" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut">
        </div>
        <div class="-item">
            <div class="-title" data-desc-in-anim="fadeInDown" data-desc-out-anim="fadeOutDown" data-in-mob-anim="fadeInDown3" data-out-mob-anim="fadeOutDown3">
                <h2>Породы камня со всего мира2</h2>
            </div>
            <div class="-description" data-desc-in-anim="fadeInDown" data-desc-out-anim="fadeOutDown" data-in-mob-anim="fadeInDown2" data-out-mob-anim="fadeOutDown2">
                <p>
                    Санкт-петербургская дизайн-студия Plan S-23  создала2<br>
                    объект-посвящение советскому спутнику: кофейный2<br>
                    столик Sputnik-5, который одновременно служит2 <br>
                    горшком для цветка.
                </p>
            </div>
            <a class="-btn_content" href="#" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeInDown1" data-out-mob-anim="fadeOutDown1">создать свой проект</a>
            <img alt="false" src="../images/Switzerland2.jpg" class="-main_image" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut">
            <img alt="false" src="../images/image-for-slider1.png" class="-small_image" data-desc-in-anim="fadeInDown" data-desc-out-anim="fadeOutUp" data-in-mob-anim="fadeInDown" data-out-mob-anim="fadeOutUp">
            <img alt="false" src="../images/image-for-slider1.png" class="-mobile_image" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut">
        </div>
        <div class="-item">
            <div class="-title" data-desc-in-anim="fadeInDown" data-desc-out-anim="fadeOutDown" data-in-mob-anim="fadeInDown3" data-out-mob-anim="fadeOutDown3">
                <h2>Породы камня со всего мира3</h2>
            </div>
            <div class="-description" data-desc-in-anim="fadeInDown" data-desc-out-anim="fadeOutDown" data-in-mob-anim="fadeInDown2" data-out-mob-anim="fadeOutDown2">
                <p>
                    Санкт-петербургская дизайн-студия Plan S-23  создала2<br>
                    объект-посвящение советскому спутнику: кофейный2<br>
                    столик Sputnik-5, который одновременно служит2 <br>
                    горшком для цветка.
                </p>
            </div>
            <a class="-btn_content" href="#" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeInDown1" data-out-mob-anim="fadeOutDown1">создать свой проект</a>
            <img alt="false" src="../images/Switzerland2.jpg" class="-main_image" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut">
            <img alt="false" src="../images/image-for-slider1.png" class="-small_image" data-desc-in-anim="fadeInDown" data-desc-out-anim="fadeOutUp" data-in-mob-anim="fadeInDown" data-out-mob-anim="fadeOutUp">
            <img alt="false" src="../images/image-for-slider1.png" class="-mobile_image" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut">
        </div>
    </div>
    <script type="text/template" class="-lister_type_main_template">
        <div class="-lister_template_main lister_template">
            <div class="part prev">
                <div class="arrow" style="background-image: url(../images/arrow.png)"></div>
                <div class="txt">Prev</div>
            </div>
            <div class="part counter">
                <div class="rotating-wraper -rotating-wraper">
                    <div class="current-slider -current-slide"></div>
                    <div class="next-slider -next-slide"></div>
                </div>
                <span>/</span>
                <div class="total-amount -total-amount"></div>
            </div>
            <div class="part next">
                <div class="arrow" style="background-image: url(../images/arrow.png)"></div>
                <div class="txt">Next</div>
            </div>
        </div>
    </script>
    <script type="text/template" class="-slider_type_main_template">
        <div class="-slider_template_main">
            <div class="main_content">
                <div class="left_content">
                    <div class="title_container sliding-content">

                    </div>
                    <div class="description_container sliding-content">

                    </div>
                    <div class="btn_content_container sliding-content">
                        <a href="#" title=""></a>
                    </div>
                    <div class="lister_container"></div>
                </div>
                <div class="right_content">
                    <div class="small_image_container sliding-content">
                        <img alt="false" src="">
                    </div>
                </div>
            </div>
            <div class="main_image_container ">
                <img alt="false" src="" class="desktop">
                <img alt="false" src="" class="mobile">
            </div>
        </div>
    </script>

</div>
