<div class="footer-section">
    <div class="line"></div>
    <ul class="link-list">
        <li><a href="#">Материалы</a></li>
        <li><a href="#">Изделия</a></li>
        <li><a href="#">Проекты</a></li>
        <li><a href="#">Друзья и партнеры</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Сотрудничество</a></li>
    </ul>
    <ul class="sitepages">
        <li><a href="#">Эксклюзивные карьеры</a></li>
        <li><a href="#">Разновидности обработки камня</a></li>
        <li><a href="#">Технология производства</a></li>
    </ul>

    <div class="copyright">
        <p>© 2017 GALLERIA DI PIETRA</p>
        <p>Политика по обработке персональных данных</p>
    </div>
</div>
