<div class="friends_slider_main -mramor_paralax">
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="80%" data-y="5%" data-invert="1" data-y-range="500" data-x-range="100" data-z-index="0"></div>
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="23%" data-y="10%" data-invert="1" data-y-range="100" data-x-range="100" data-z-index="0"></div>
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="95%" data-y="70%" data-invert="0" data-y-range="300" data-x-range="100" data-z-index="0"></div>
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="47%" data-y="50%" data-invert="1" data-y-range="100" data-x-range="100" data-z-index="0"></div>

    <div class="icon-row">
        <a href="#">
            <img src="../images/section-logo.png" alt="">
        </a>
    </div>
    <div class="section_double-heading" data-backwards="Friends and partners" data-aos="fade-right" data-aos-once="true">
        <h2>Друзья и партнеры</h2>
    </div>

    <div class="-friends_slider_main friends_slider_main_wrap">
        <div class="-item">
            <div class="-title">
                <h3>Алевтина Андреевна 1</h3>
            </div>
            <div class="-description">
                <p>Главный директор фирмы «Консалтинг ФУР» 1</p>
            </div>
            <div class="-image">
                <img alt="false" src="../images/friends-partners1.jpg" title="friends image 1">
            </div>
            <div class="-link">
                <a href="#" title="friends 1">friends 1</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Алевтина Андреевна 2</h3>
            </div>
            <div class="-description">
                <p>Главный директор фирмы «Консалтинг ФУР» 2</p>
            </div>
            <div class="-image">
                <img alt="false" src="../images/friends-partners2.jpg" title="friends image 2">
            </div>
            <div class="-link">
                <a href="#" title="friends 1">friends 2</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Алевтина Андреевна 3</h3>
            </div>
            <div class="-description">
                <p>Главный директор фирмы «Консалтинг ФУР» 3</p>
            </div>
            <div class="-image">
                <img alt="false" src="../images/friends-partners3.jpg" title="friends image 3">
            </div>
            <div class="-link">
                <a href="#" title="friends 1">friends 3</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Алевтина Андреевна 4</h3>
            </div>
            <div class="-description">
                <p>Главный директор фирмы «Консалтинг ФУР» 1</p>
            </div>
            <div class="-image">
                <img alt="false" src="../images/friends-partners1.jpg" title="friends image 1">
            </div>
            <div class="-link">
                <a href="#" title="friends 1">friends 1</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Алевтина Андреевна 5</h3>
            </div>
            <div class="-description">
                <p>Главный директор фирмы «Консалтинг ФУР» 2</p>
            </div>
            <div class="-image">
                <img alt="false" src="../images/friends-partners2.jpg" title="friends image 2">
            </div>
            <div class="-link">
                <a href="#" title="friends 1">friends 2</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Алевтина Андреевна 6</h3>
            </div>
            <div class="-description">
                <p>Главный директор фирмы «Консалтинг ФУР» 3</p>
            </div>
            <div class="-image">
                <img alt="false" src="../images/friends-partners3.jpg" title="friends image 3">
            </div>
            <div class="-link">
                <a href="#" title="friends 1">friends 3</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Алевтина Андреевна 7</h3>
            </div>
            <div class="-description">
                <p>Главный директор фирмы «Консалтинг ФУР» 1</p>
            </div>
            <div class="-image">
                <img alt="false" src="../images/friends-partners1.jpg" title="friends image 1">
            </div>
            <div class="-link">
                <a href="#" title="friends 1">friends 1</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Алевтина Андреевна 8</h3>
            </div>
            <div class="-description">
                <p>Главный директор фирмы «Консалтинг ФУР» 2</p>
            </div>
            <div class="-image">
                <img alt="false" src="../images/friends-partners2.jpg" title="friends image 2">
            </div>
            <div class="-link">
                <a href="#" title="friends 1">friends 2</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Алевтина Андреевна 9</h3>
            </div>
            <div class="-description">
                <p>Главный директор фирмы «Консалтинг ФУР» 3</p>
            </div>
            <div class="-image">
                <img alt="false" src="../images/friends-partners3.jpg" title="friends image 3">
            </div>
            <div class="-link">
                <a href="#" title="friends 1">friends 3</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Алевтина Андреевна 10</h3>
            </div>
            <div class="-description">
                <p>Главный директор фирмы «Консалтинг ФУР» 1</p>
            </div>
            <div class="-image">
                <img alt="false" src="../images/friends-partners1.jpg" title="friends image 1">
            </div>
            <div class="-link">
                <a href="#" title="friends 1">friends 1</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Алевтина Андреевна 11</h3>
            </div>
            <div class="-description">
                <p>Главный директор фирмы «Консалтинг ФУР» 2</p>
            </div>
            <div class="-image">
                <img alt="false" src="../images/friends-partners2.jpg" title="friends image 2">
            </div>
            <div class="-link">
                <a href="#" title="friends 1">friends 2</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Алевтина Андреевна 12</h3>
            </div>
            <div class="-description">
                <p>Главный директор фирмы «Консалтинг ФУР» 3</p>
            </div>
            <div class="-image">
                <img alt="false" src="../images/friends-partners3.jpg" title="friends image 3">
            </div>
            <div class="-link">
                <a href="#" title="friends 1">friends 3</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Алевтина Андреевна 13</h3>
            </div>
            <div class="-description">
                <p>Главный директор фирмы «Консалтинг ФУР» 1</p>
            </div>
            <div class="-image">
                <img alt="false" src="../images/friends-partners1.jpg" title="friends image 1">
            </div>
            <div class="-link">
                <a href="#" title="friends 1">friends 1</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Алевтина Андреевна 14</h3>
            </div>
            <div class="-description">
                <p>Главный директор фирмы «Консалтинг ФУР» 2</p>
            </div>
            <div class="-image">
                <img alt="false" src="../images/friends-partners2.jpg" title="friends image 2">
            </div>
            <div class="-link">
                <a href="#" title="friends 1">friends 2</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Алевтина Андреевна 15</h3>
            </div>
            <div class="-description">
                <p>Главный директор фирмы «Консалтинг ФУР» 3</p>
            </div>
            <div class="-image">
                <img alt="false" src="../images/friends-partners3.jpg" title="friends image 3">
            </div>
            <div class="-link">
                <a href="#" title="friends 1">friends 3</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
    </div>
    <script type="text/template" class="-lister_type_friends_template">
        <div class="-lister_template_main">
            <div class="part prev">
                <div class="arrow" style="background-image: url(../images/arrow.png)"></div>
                <div class="txt">Prev</div>
            </div>
            <div class="part counter">
                <div class="rotating-wraper -rotating-wraper">
                    <div class="current-slider -current-slide"></div>
                    <div class="next-slider -next-slide"></div>
                </div>
                <span>/</span>
                <div class="total-amount -total-amount"></div>
            </div>
            <div class="part next">
                <div class="arrow" style="background-image: url(../images/arrow.png)"></div>
                <div class="txt">Next</div>
            </div>
        </div>
    </script>
    <script type="text/template"  class="-friends_item_template">
        <div class="-item item">
            <div class="item_container">
                <div class="back_image_wrapper">
                    <img alt="false" src="" class="-image">
                </div>
                <a href="#" title="" class="-link main_content">
                    <div class="image_clone_wrap">
                        <img alt="false" src="" class="-image">
                    </div>
                    <div class="-title title"> </div>
                    <div class="-description description"></div>
                </a>
            </div>
        </div>
    </script>

</div>
