<div class="section gallery js_light-section -mramor_paralax">
    //= ../partials/section-header.html
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="95%" data-y="10px" data-invert="1" data-y-range="500" data-x-range="100" data-z-index="0"></div>
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="3%" data-y="80%" data-invert="0" data-y-range="300" data-x-range="100" data-z-index="0"></div>
    <div class="wrapper">


         <ul class="gallery_list list1">
             <li class="gallery_item big-image" data-aos="zoom-in" data-aos-once="true">
                 <a href="#">
                     <img src="../images/gallery-item1.jpg" alt="">
                     <div class="content">
                         <h2>VERDE ANTICO</h2>
                         <p>синий мрамор из италии</p>
                         <p>#0480108</p>
                         <span>посмотреть материал</span>
                     </div>
                      <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                  </a>
             </li>

             <li class="gallery_item" data-aos="zoom-in" data-aos-delay="800" data-aos-once="true">
                 <a href="">
                     <img src="../images/gallery-item3.jpg" alt="">
                     <div class="content">
                         <h2>ARABESCATO VAGLI</h2>
                         <p>белый мрамор из италии</p>
                         <p>#0480108</p>
                         <span >посмотреть материал</span>
                     </div>
                     <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                 </a>
             </li>

             <li class="gallery_item" data-aos="zoom-in" data-aos-delay="400" data-aos-once="true">
                 <a href="#">
                      <img src="../images/gallery-item5.jpg" alt="">

                     <div class="content">
                         <h2>TEOS FIRE</h2>
                         <p>красный мрамор из италии</p>
                         <p>#0480108</p>
                         <span>посмотреть материал</span>
                     </div>
                     <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                </a>
             </li>
             <li class="gallery_item black-font" data-aos="zoom-in" data-aos-delay="200" data-aos-once="true">
                 <a href="#">
                     <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                     <img src="../images/gallery-item4.jpg" alt="">
                     <div class="content">
                         <h2>MARMARA EQUATOR</h2>
                         <p>мрамор из италии</p>
                         <p>#0480108</p>
                         <span>посмотреть материал</span>
                     </div>
                 </a>
             </li>
             <li class="gallery_item" data-aos="zoom-in" data-aos-delay="600" data-aos-once="true">
                 <a href="#">
                     <img src="../images/gallery-item2.jpg" alt="">
                     <div class="content">
                          <h2>DIVA BLACK</h2>
                         <p>черный мрамор из италии</p>
                         <p>#0480108</p>
                         <span >посмотреть материал</span>
                     </div>
                     <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                 </a>
             </li>


             <li class="gallery_item last-item" data-aos="zoom-in" data-aos-delay="1000" data-aos-once="true">
                 <div class="wrap-heading"><h2>В нашей online галерее</h2></div>
                 <div class="text-wrap"><p style="color: #000; ">Вы сможете подобрать <span style="color:#7e7d7d; ">необходимый материал</span>, и узнать <span style="color:#7e7d7d; ">особенности камней</span>, и их текстуры. Для всех материалов доступны форматы изделий и есть примеры проектов, где они применяются.</p></div>
                 <a href="/materials.html" class="button-usual"> посмотреть все материалы</a>
             </li>

         </ul>

         <!-- <ul class="gallery_list list2">
         </ul> -->


    </div>
     <div class="paralax-squear" id="paralax-squear3"></div>
     <div class="paralax-squear" id="paralax-squear2"></div>
</div>
