<!-- HEADER -->
<header>
  <div class="wrapper">
     <div class="empty">

     </div>
     <div class="main-logo">
         <a href="/"><img src="../images/main-logo.png" alt=""></a>
     </div>
     <div class="language-picker flex-cont">
         <a href=""><div class="language flex-cont">EN</div></a>
         <a href=""><div class="language flex-cont">RU</div></a>
         <a href=""><div class="language flex-cont">IT</div></a>
     </div>
  </div>
</header>
<!-- /HEADER -->
