<div class="section locations -mramor_paralax">
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="90%" data-y="10%" data-invert="1" data-y-range="300" data-x-range="100" data-z-index="3"></div>
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="10%" data-y="60%" data-invert="1" data-y-range="100" data-x-range="100" data-z-index="3"></div>
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="20%" data-y="30%" data-invert="1" data-y-range="500" data-x-range="100" data-z-index="3"></div>
    <div class="logo-container">
        <a href="#">
            <img src="../images/main-logo-orange.png" alt="">
        </a>
    </div>
    <div class="up-arrow">
        <img src="../images/up-arrow.png" alt="">
        <p>Вверх</p>
    </div>
    <div class="map-container">
        <div id="map"></div>
        <div class="info-block">
            <div class="top">
                <p>119002, Moсква </p>
                <p>Плотников переулок: 19/38</p>
                <p>Строение 2</p>
            </div>
            <div class="middle">
                Телефон:   <a href="tell:7 495 995 89 85">+7 495 995 89 85</a><br>
                Факс:  <a href="tell:+7 495  14 02 76">+7 495  14 02 76</a>
            </div>
            <div class="bottom">
                <a href="mailto:mail@galleria.di.pietra">mail@galleria.di.pietra</a>
            </div>
        </div>
    </div>

</div>
