<div class="main-menu">
    <ul class="menu-item-list">
        <li class="menu-item"><a href="/materials.html">материалы</a></li>
        <li class="menu-item"><a href="#">изделия</a></li>
        <li class="menu-item"><a href="#">проекты</a></li>
        <li class="menu-item"><a href="#">о компании</a></li>
        <li class="menu-item"><a href="#">эксклюзивные проекты</a></li>
        <li class="menu-item"><a href="#">разновидности обработки камня</a></li>
        <li class="menu-item"><a href="#">технология производства</a></li>
        <li class="menu-item"><a href="#">друзья и партнеры</a></li>
        <li class="menu-item"><a href="#">новости</a></li>
        <li class="menu-item"><a href="#">сотрудничество</a></li>
        <li class="menu-item"><a href="#">контакты</a></li>
    </ul>
    <div class="language-picker flex-cont">
        <a href=""><div class="language flex-cont">EN</div></a>
        <a href=""><div class="language flex-cont">RU</div></a>
        <a href=""><div class="language flex-cont">IT</div></a>
    </div>
    <div class="socials-buttons">
        <div class="line"></div>
        <a href="#"><img src="../images/soc-link1.png" alt=""></a>
        <a href="#"><img src="../images/soc-link2.png" alt=""></a>
        <a href="#"><img src="../images/soc-link3.png" alt=""></a>
    </div>
    <div class="information-wrap flex-cont">
        <div class="info-popup">
            <p>У нас все по прежнему   :)</p>
        </div>
        <a href="#">i</a>
    </div>
</div>
