<div class="slider_news_main js_light-section -mramor_paralax">
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="5%" data-y="40%" data-invert="0" data-y-range="300" data-x-range="100" data-z-index="0"></div>
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="61%" data-y="20%" data-invert="1" data-y-range="400" data-x-range="100" data-z-index="0"></div>
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="15%" data-y="80%" data-invert="0" data-y-range="200" data-x-range="100" data-z-index="0"></div>

    <div class="icon-row">
        <a href="#">
            <img src="../images/section-logo.png" alt="">
        </a>
    </div>
    <div class="section_double-heading" data-backwards="News" data-aos="fade-right" data-aos-once="true">
        <h2>Новости</h2>
    </div>
    <div class="button-wrap">
        <a href="#" class="button-usual">читать все новости</a>
    </div>

    <div class="-slider_news_main  slider_news_main-wrapper">
        <div class="-item">
            <div class="-title">
                <h3>Ресторан «Sinatra» уже открылся, спешите его посетить!1</h3>
            </div>
            <div class="-description">
                <p>Вы сможете подобрать необходимый материал, и узнать особенности камней, 1
                    и их текстуры. Для всех материалов доступны форматы изделий и есть примеры 1
                    проектов, где они применяются.  Для всех материалов доступны 1
                    форматы изделий и есть примеры проектов, где они применяются.1
                </p>
            </div>
            <div class="reviews -reviews">
                101
            </div>
            <div class="-date date">
                21.03.2015
            </div>
            <div class="-news_image">
                <img alt="false" src="../images/project-image1.jpg" title="news image">
            </div>
            <div class="-news_link">
                <a href="#" title="посмотреть проект">подробнее</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation_left" data-desc-in-anim="slideInLeft" data-desc-out-anim="slideOutLeft" data-in-mob-anim="slideInLeft" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation_left" data-desc-in-anim="slideInLeft" data-desc-out-anim="slideOutLeft" data-in-mob-anim="slideInLeft" data-out-mob-anim="slideOutLeft"></div>
            <div class="-content_animation_right" data-desc-in-anim="slideInRight" data-desc-out-anim="slideOutRight" data-in-mob-anim="slideInRight" data-out-mob-anim="slideOutRight"></div>
            <div class="-img_animation_right" data-desc-in-anim="slideInRight" data-desc-out-anim="slideOutRight" data-in-mob-anim="slideInRight" data-out-mob-anim="slideOutRight"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Ресторан «Sinatra» уже открылся, спешите его посетить!2</h3>
            </div>
            <div class="-description">
                <p>Вы сможете подобрать необходимый материал, и узнать особенности камней2
                    и их текстуры. Для всех материалов доступны форматы изделий и есть примеры 2
                    проектов, где они применяются.  Для всех материалов доступны 2
                    форматы изделий и есть примеры проектов, где они применяются.2
                </p>
            </div>
            <div class="reviews -reviews">
                102
            </div>
            <div class="-date date">
                21.03.2015
            </div>
            <div class="-news_image">
                <img alt="false" src="../images/project-image2.jpg" title="news image2">
            </div>
            <div class="-news_link">
                <a href="#" title="посмотреть проект">подробнее</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation_left" data-desc-in-anim="slideInLeft" data-desc-out-anim="slideOutLeft" data-in-mob-anim="slideInLeft" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation_left" data-desc-in-anim="slideInLeft" data-desc-out-anim="slideOutLeft" data-in-mob-anim="slideInLeft" data-out-mob-anim="slideOutLeft"></div>
            <div class="-content_animation_right" data-desc-in-anim="slideInRight" data-desc-out-anim="slideOutRight" data-in-mob-anim="slideInRight" data-out-mob-anim="slideOutRight"></div>
            <div class="-img_animation_right" data-desc-in-anim="slideInRight" data-desc-out-anim="slideOutRight" data-in-mob-anim="slideInRight" data-out-mob-anim="slideOutRight"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Ресторан «Sinatra» уже открылся, спешите его посетить!3</h3>
            </div>
            <div class="-description">
                <p>Вы сможете подобрать необходимый материал, и узнать особенности камней,3
                    и их текстуры. Для всех материалов доступны форматы изделий и есть примеры 3
                    проектов, где они применяются.  Для всех материалов доступны 3
                    форматы изделий и есть примеры проектов, где они применяются.3
                </p>
            </div>
            <div class="reviews -reviews">
                103
            </div>
            <div class="-date date">
                21.03.2015
            </div>
            <div class="-news_image">
                <img alt="false" src="../images/project-image1.jpg" title="news image3">
            </div>
            <div class="-news_link">
                <a href="#" title="посмотреть проект">подробнее</a>
            </div>
            <!--animation settings-->
            <div class="-content_animation_left" data-desc-in-anim="slideInLeft" data-desc-out-anim="slideOutLeft" data-in-mob-anim="slideInLeft" data-out-mob-anim="fadeOut"></div>
            <div class="-img_animation_left" data-desc-in-anim="slideInLeft" data-desc-out-anim="slideOutLeft" data-in-mob-anim="slideInLeft" data-out-mob-anim="slideOutLeft"></div>
            <div class="-content_animation_right" data-desc-in-anim="slideInRight" data-desc-out-anim="slideOutRight" data-in-mob-anim="slideInRight" data-out-mob-anim="slideOutRight"></div>
            <div class="-img_animation_right" data-desc-in-anim="slideInRight" data-desc-out-anim="slideOutRight" data-in-mob-anim="slideInRight" data-out-mob-anim="slideOutRight"></div>
            <!--END animation settings-->
        </div>
    </div>
    <script type="text/template" class="-lister_type_news_template">
        <div class="-lister_template_main">
            <div class="part prev">
                <div class="arrow" style="background-image: url(../images/arrow.png)"></div>
                <div class="txt">Prev</div>
            </div>
            <div class="part counter">
                <div class="rotating-wraper -rotating-wraper">
                    <div class="current-slider -current-slide"></div>
                    <div class="next-slider -next-slide"></div>
                </div>
                <span>/</span>
                <div class="total-amount -total-amount"></div>
            </div>
            <div class="part next">
                <div class="arrow" style="background-image: url(../images/arrow.png)"></div>
                <div class="txt">Next</div>
            </div>
        </div>
    </script>
    <script type="text/template"  class="-news_slider_template">
        <div class="-news_slider_wrapper">
            <div class="-news_slider_template">
                <div class="-slide_wrapper slide_wrapper">
                    <div class="news_image -img_wrapper">
                        <div class="gradient-wrapper">
                            <img src="" alt="false" title="">
                        </div>
                    </div>
                    <div class="content -content_wrapper">
                        <div class="content_container">

                            <!-- Title-->
                            <div class="title -title">

                            </div>
                            <!--END Title-->

                            <div class="line"></div>

                            <!-- Description-->
                            <div class="content -description">

                            </div>
                            <!-- END Description-->

                            <div class="info_block">
                                <div class="left_info">
                                    <div class="link_news">
                                        <a class="-news_link" href="#" title=""></a>
                                    </div>
                                </div>
                                <div class="right_info">
                                    <div class="reviews">
                                        <img src="../images/visibility-button.png" alt="">
                                        <span class="reviews-counter -reviews"></span>
                                    </div>
                                    <div class="date -date">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="-lister_container lister_container">
            </div>
        </div>
    </script>

</div>
