<div class="section products -mramor_paralax">
    //= ../partials/section-header.html
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="10%" data-y="60%" data-invert="1" data-y-range="200" data-x-range="100" data-z-index="3"></div>
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="90%" data-y="10%" data-invert="1" data-y-range="900" data-x-range="100" data-z-index="3"></div>
    <div class="section_double-heading" data-backwards="Products" data-aos="fade-right" data-aos-once="true">
        <h2>Изделия</h2>
    </div>
    <div class="wrapper">
        <div class="part flex-cont">
            <a href="#">
                <div class="image-wrap" data-aos="fade-right" data-aos-once="true">
                    <img src="../images/product1.jpg" alt="">
                    <div class="content">
                        <h3>Кофейный столик Shine</h3>
                        <span href="#">посмотреть изделие</span>
                    </div>
                    <div class="paralax-squear" id="paralax-squear4"></div>
                </div>
            </a>
            <h3>Кофейный столик Shine</h3>
            <div class="line"></div>
            <div class="description">
                <p>Санкт-петербургская дизайн-студия Plan S-23 создала
                    объект-посвящение советскому спутнику: кофейный
                    столик Sputnik-5, который одновременно служит
                    горшком для цветка.</p>
            </div>
        </div>
        <div class="part flex-cont">
            <a href="#">
                <div class="image-wrap" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">
                    <img src="../images/product2.jpg" alt="">
                    <div class="content">
                        <h3>Ваза из мрамора</h3>
                        <span href="#">посмотреть изделие</span>
                    </div>
                    <div class="paralax-squear" id="paralax-squear5"></div>
                </div>
            </a>
            <h3>Ваза из мрамора</h3>
            <div class="line"></div>
            <div class="description">
                <p>Санкт-петербургская дизайн-студия Plan S-23 создала
                    объект-посвящение советскому спутнику: кофейный
                    столик Sputnik-5, который одновременно служит
                    горшком для цветка.</p>
            </div>
            <div class="button-wrap">
                <a href="#" class="button-usual darck">посмотреть все изделия</a>
            </div>
        </div>
    </div>

</div>
