<div class="slider_project_main -mramor_paralax">
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="20%" data-y="80%" data-invert="0" data-y-range="500" data-x-range="100" data-z-index="3"></div>
    <div class="-mramor_paralax_item mramor_paralax_item" data-x="80%" data-y="0%" data-invert="1" data-y-range="100" data-x-range="100" data-z-index="3"></div>
    <div class="icon-row">
        <a href="#">
            <img src="../images/section-logo.png" alt="">
        </a>
    </div>
    <div class="section_double-heading" data-backwards="Projects" data-aos="fade-right" data-aos-once="true">
        <h2>Проекты</h2>
    </div>
    <div class="button-wrap">
        <a href="#" class="button-usual darck">посмотреть все проекты</a>
    </div>
    <div class="-slider_project_main">
        <div class="-item">
            <div class="-title">
                <h3>Ресторан «Sinatra»1</h3>
            </div>
            <div class="-name_of_project">
                <p>Услуги общественного питания1</p>
            </div>
            <div class="-description">
                <p>Вы сможете подобрать необходимый материал,1
                    и узнать особенности камней, и их текстуры.
                    Для всех материалов доступны форматы
                    изделий и есть примеры проектов, где они
                    применяются. <br>
                    Для всех материалов доступны форматы
                    изделий и есть примеры проектов, где они
                    применяются.
                </p>
            </div>
            <a href="#" class="-link_of_project" title="tit1">посмотреть проект1</a>
            <div class="-img_project">
                <img alt="false" src="../images/project-image1.jpg" title="project foto">
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-nav_btn_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut"></div>
            <div class="-img_project_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Ресторан «Sinatra»2</h3>
            </div>
            <div class="-name_of_project">
                <p>Услуги общественного питания2</p>
            </div>
            <div class="-description">
                <p>Вы сможете подобрать необходимый материал,2
                    и узнать особенности камней, и их текстуры.
                    Для всех материалов доступны форматы
                    изделий и есть примеры проектов, где они
                    применяются. <br>
                    Для всех материалов доступны форматы
                    изделий и есть примеры проектов, где они
                    применяются.
                </p>
            </div>
            <a href="#" class="-link_of_project" title="tit2">посмотреть проект2</a>
            <div class="-img_project">
                <img alt="false" src="../images/project-image1.jpg" title="project foto">
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-nav_btn_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut"></div>
            <div class="-img_project_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
        <div class="-item">
            <div class="-title">
                <h3>Ресторан «Sinatra»3</h3>
            </div>
            <div class="-name_of_project">
                <p>Услуги общественного питания3</p>
            </div>
            <div class="-description">
                <p>Вы сможете подобрать необходимый материал,3
                    и узнать особенности камней, и их текстуры.
                    Для всех материалов доступны форматы
                    изделий и есть примеры проектов, где они
                    применяются. <br>
                    Для всех материалов доступны форматы
                    изделий и есть примеры проектов, где они
                    применяются.
                </p>
            </div>
            <a href="#" class="-link_of_project" title="tit3">посмотреть проект3</a>
            <div class="-img_project">
                <img alt="false" src="../images/project-image1.jpg" title="project foto">
            </div>
            <!--animation settings-->
            <div class="-content_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <div class="-nav_btn_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut"></div>
            <div class="-img_project_animation" data-desc-in-anim="fadeIn" data-desc-out-anim="fadeOut" data-in-mob-anim="fadeIn" data-out-mob-anim="fadeOut"></div>
            <!--END animation settings-->
        </div>
    </div>
    <div class="background-image1"><img src="../images/side-back-img1.jpg" alt=""></div>
    <div class="background-image2"><img src="../images/side-back-img.jpg" alt=""></div>
    <script type="text/template" class="-lister_type_project_template">
        <div class="-lister_template_main lister_template">
            <div class="part prev">
                <div class="arrow" style="background-image: url(../images/arrow.png)"></div>
                <div class="txt">Prev</div>
            </div>
            <div class="part counter">
                <div class="rotating-wraper -rotating-wraper">
                    <div class="current-slider -current-slide"></div>
                    <div class="next-slider -next-slide"></div>
                </div>
                <span>/</span>
                <div class="total-amount -total-amount"></div>
            </div>
            <div class="part next">
                <div class="arrow" style="background-image: url(../images/arrow.png)"></div>
                <div class="txt">Next</div>
            </div>
        </div>
    </script>
    <script type="text/template" class="-project_slider_template">
        <div class="-slider_template_project">
            <div class="main_content">
                <div class="left_content">
                    <div class="slide_nav_btn prev -prev_btn -nav_btn">
                        <p></p>
                    </div>
                    <div class="lister_wrapper">
                        <div class="lister_container -project_lister"></div>
                    </div>
                </div>
                <div class="middle_content">
                    <div class="main_img_wrapper -img_project">
                        <img alt="false" title="" src="">
                    </div>
                    <div class="content_wrapper -content">
                        <div class="content_container">
                            <div class="sub-heading -name_of_project">

                            </div>
                            <div class="title_of_project -title">

                            </div>
                            <div class="line"></div>
                            <div class="description -description">

                            </div>
                            <div class="href_project_container">
                                <a href="#" class="-link_of_project"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right_content">
                    <div class="slide_nav_btn next -next_btn -nav_btn">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </script>

</div>
