<!-- SCRIPTS -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf-UZX6vekhr4OwJNM8KquAcp-2fCeOkE&extension=.js"></script>
<script src="https://cdn.mapkit.io/v1/infobox.js"></script>

<!-- build:js scripts/validate_script.js -->
<script type="text/javascript" src="scripts/validate_script.js" ></script>
<!-- endbuild -->

<!-- build:js scripts/plagins.js -->
<script type="text/javascript" src="scripts/plagins/device.js" ></script>
<script type="text/javascript" src="scripts/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="scripts/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="scripts/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="scripts/plagins/maskInput.js" ></script>
<script type="text/javascript" src="scripts/plagins/slick.js" ></script>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>

    <!-- add you plagins js here -->

<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script type="text/javascript" src="scripts/basic_scripts.js" ></script>
<script type="text/javascript" src="scripts/develop/develop_1.js" ></script>
<script type="text/javascript" src="scripts/develop/develop_2.js" ></script>
<script type="text/javascript" src="scripts/develop/develop_4.js" ></script>
<script type="text/javascript" src="scripts/develop/develop_5.js" ></script>
<script type="text/javascript" src="scripts/develop/develop_6.js" ></script>
<script type="text/javascript" src="scripts/develop/sliders/plugins/lister_type_main/lister_type_main.js" ></script>
<script type="text/javascript" src="scripts/develop/sliders/slider_type_main.js" ></script>
<script type="text/javascript" src="scripts/develop/sliders/project_slider_main.js" ></script>
<script type="text/javascript" src="scripts/develop/sliders/news_slider_main.js" ></script>
<script type="text/javascript" src="scripts/develop/sliders/friends_slider_main.js" ></script>
<script type="text/javascript" src="scripts/develop/front_page.js" ></script>
    <!-- add you develop js here -->
<!-- endbuild -->

<!-- /SCRIPTS -->
