<div class="section-header">
    <div class="wrapper">
        <div class="section-logo">
            <a href="#">
                <img src="../images/section-logo.png" alt="">
            </a>
        </div>
        <ul class="hidden-arrey">
            <li class="item "><a href="javascript: void(0);">
                Травертин</a></li>
            <li class="item "><a href="javascript: void(0);">
                мрамор</a></li>
            <li class="item "><a href="javascript: void(0);">
                гранит</a></li>
            <li class="item "><a href="javascript: void(0);">
                Песчаник</a></li>
            <li class="item"><a href="javascript: void(0);">
                Test1</a></li>
            <li class="item"><a href="javascript: void(0);">
                Test2</a></li>
            <li class="item"><a href="javascript: void(0);">
                test3</a></li>
            <li class="item"><a href="javascript: void(0);">
                    test4</a></li>
            <li class="item"><a href="javascript: void(0);">
                Test5</a></li>
            <li class="item"><a href="javascript: void(0);">
                Test6</a></li>
            <li class="item"><a href="javascript: void(0);">
                test7</a></li>
            <li class="item"><a href="javascript: void(0);">
                    test8</a></li>
        </ul>
        <div class="sliding-menu_wrap">
            <ul class="sliding-menu" data-current-slide="0">
                <!-- <li class="item "><a href="javascript: void(0);">
                    </a></li>
                <li class="item center"><a href="javascript: void(0);">
                    </a></li>
                <li class="item center"><a href="javascript: void(0);">
                    </a></li>
                <li class="item "><a href="javascript: void(0);">
                    </a></li> -->
            </ul>
            <div class="arrow prev"></div>
            <div class="arrow next"></div>
        </div>

    </div>

    <script type="text/template" class="-section-header-slider-template">
        <li class="item "><a href="javascript: void(0);">
            </a></li>
    </script>
</div>
