//= partials/head.html

<div class="global-wrapper">
    <!-- MAIN -->
    <div class="main front_page">
        <div class="menu-button js_main-menu_open clicked">
            <div></div>
            <div></div>
            <div></div>
            <div class="background"></div>
        </div>
        //= partials/main-menu.html
        //= partials/block1.html
        //= partials/gallery.html
        //= partials/products.html
        //= partials/project_slider_main.html
        //= partials/advantages.html
        //= partials/news_slider_main.html
        //= partials/friends_slider_main.html
        //= partials/location.html
        //= partials/footer-section.html

    </div>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>

//= partials/scripts.html

</body>
</html>
