//= partials/head.html

<div class="global-wrapper">
    <!-- MAIN -->
    <div class="main materials_inner">
        <div class="menu-button js_main-menu_open clicked">
            <div></div>
            <div></div>
            <div></div>
            <div class="background"></div>
        </div>

        //= partials/main-menu.html
        <div class="inner-top-block">
            <img src="../images/material-inner-top.jpg" alt="" class="background-image">
            <div class="regular-logo-container logo-container">
                <a href="#">
                    <img src="../images/main-logo-orange.png" alt="">
                </a>
            </div>
            <div class="regular-single_heading" data-backwards="Materials">
                <h1>Teos Fire Marble by Karabacak Marble </h1>
            </div>
            <div class="breadcrumbs white-font">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">Материалы</a></li>
                    <li>Teos Fire Marble by karabak marble</li>
                </ul>
            </div>
        </div>

        <div class="inner-item_container-section js_light-section">

            <div class="inner-wrap">
                <div class="backward-link">
                    <a href="#">вернутся назад</a>
                </div>
                <div class="column">
                    <div class="main-image">
                        <img src="../images/main-inner-materials.jpg" alt="">
                    </div>
                    <div class="item-description">
                        <h2>Название материала</h2>
                        <div class="line"></div>
                        <div class="item-sescription-cover one-column">
                            <h3>Применение: </h3>
                            <ul>
                                <li>напольный (повышенная нагрузка),</li>
                                <li>декоративные элементы интерьера,</li>
                                <li>интерьер,</li>
                                <li>фасад</li>
                            </ul>
                        </div>
                        <div class="item-sescription-cover">
                            <h3>Происхождение:</h3>
                            <ul>
                                <li>Италия</li>
                                <li>Македония</li>
                                <li>Италия</li>
                                <li>Македония</li>
                                <li>Италия</li>
                                <li>Македония</li>
                            </ul>
                        </div>
                        <div class="item-sescription-cover">
                            <h3>Обработка поверхности:</h3>
                            <ul>
                                <li>Полировка</li>
                            </ul>
                        </div>
                        <div class="item-sescription-cover">
                            <h3>Цвет камня: </h3>
                            <ul>
                                <li>Белый</li>
                            </ul>
                        </div>
                        <div class="button-cover">
                            <a href="#" class="button-usual">добавить в проект</a>
                        </div>


                        <p>Мрамор состоит из кальцита (карбоната кальция) с примесями других минералов, а также органических соединений.</p>

                        <p>Примеси различно влияют на качество мрамора, снижая или повышая его декоративность.
                        Окраска мрамора также зависит от примесей.
                        Большинство цветных мраморов имеет пёструю или полосчатую (циполин) окраску.</p>

                        <p>Оксид железа окрашивает его в красный цвет (иногда цвет бывает розовым или (редко) оттенком ржавчины), высокодисперсный сульфид железа — в сине-чёрный, железосодержащие силикаты (особенно хлорит и эпидот) — в зелёный, лимонит (гидроксиды железа) и карбонаты железа и марганца — в жёлтые и бурые тона.</p>

                        <p>Серые, голубоватые и чёрные цвета могут быть обусловлены также примесями битумов или графита.</p>

                        <p>Рисунок определяется не только строением мрамора, но и направлением, по которому производится распиливание камня. </p>

                        <p>Цвет и рисунок мрамора проявляются после его полировки.</p>
                    </div>
                </div>
                <div class="column">
                    <h3>Похожие материалы</h3>
                    <div class="line"></div>
                    <ul class="item-container">
                        <li class="item thin-border-square black-font">
                            <a href="#">
                                <img src="../images/inner-material-img.jpg" alt="">
                                <div class="content">
                                    <h3>TEOS FIRE TEOS FIRE FIRE</h3>
                                    <span>посмотреть материал</span>
                                </div>
                                <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                            </a>
                        </li>
                        <li class="item thin-border-square black-font">
                            <a href="#">
                                <img src="../images/inner-material-img1.jpg" alt="">
                                <div class="content">
                                    <h3>TEOS FIRE TEOS FIRE FIRE</h3>
                                    <span>посмотреть материал</span>
                                </div>
                                <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                            </a>
                        </li>
                        <li class="item thin-border-square black-font">
                            <a href="#">
                                <img src="../images/inner-material-img2.jpg" alt="">
                                <div class="content">
                                    <h3>TEOS FIRE TEOS FIRE FIRE</h3>
                                    <span>посмотреть материал</span>
                                </div>
                                <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                            </a>
                        </li>
                        <li class="item thin-border-square black-font">
                            <a href="#">
                                <img src="../images/inner-material-img3.jpg" alt="">
                                <div class="content">
                                    <h3>TEOS FIRE TEOS FIRE FIRE</h3>
                                    <span>посмотреть материал</span>
                                </div>
                                <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                            </a>
                        </li>
                        <li class="item thin-border-square black-font">
                            <a href="#">
                                <img src="../images/inner-material-img4.jpg" alt="">
                                <div class="content">
                                    <h3>TEOS FIRE TEOS FIRE FIRE</h3>
                                    <span>посмотреть материал</span>
                                </div>
                                <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                            </a>
                        </li>
                        <li class="item thin-border-square black-font">
                            <a href="#">
                                <img src="../images/inner-material-img5.jpg" alt="">
                                <div class="content">
                                    <h3>TEOS FIRE TEOS FIRE FIRE</h3>
                                    <span>посмотреть материал</span>
                                </div>
                                <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                    <h3>Изделия с применением материала</h3>
                    <div class="line"></div>
                    <ul class="item-container">
                        <li class="item transparent-square-inside black">
                            <a href="#">
                                <div class="image-wrap">
                                    <img src="../images/inner-material-img6.jpg" alt="">
                                    <div class="content">
                                        <h3>Кофейный столик Shine</h3>
                                        <span href="#">посмотреть изделие</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="item transparent-square-inside black">
                            <a href="#">
                                <div class="image-wrap">
                                    <img src="../images/inner-material-img7.jpg" alt="">
                                    <div class="content">
                                        <h3>Кофейный столик Shine</h3>
                                        <span href="#">посмотреть изделие</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="item transparent-square-inside black">
                            <a href="#">
                                <div class="image-wrap">
                                    <img src="../images/inner-material-img8.jpg" alt="">
                                    <div class="content">
                                        <h3>Кофейный столик Shine</h3>
                                        <span href="#">посмотреть изделие</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="item transparent-square-inside black">
                            <a href="#">
                                <div class="image-wrap">
                                    <img src="../images/inner-material-img9.jpg" alt="">
                                    <div class="content">
                                        <h3>Кофейный столик Shine</h3>
                                        <span href="#">посмотреть изделие</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <h3>Материал в проектах</h3>
                    <div class="line"></div>
                    <ul class="item-container">
                        <li class="item transparent-square-inside white">
                            <a href="#">
                                <div class="image-wrap">
                                    <img src="../images/inner-material-img10.jpg" alt="">
                                    <div class="content">
                                        <h3>Ваза из мрамора</h3>
                                        <span href="#">посмотреть изделие</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="item transparent-square-inside white">
                            <a href="#">
                                <div class="image-wrap">
                                    <img src="../images/inner-material-img11.jpg" alt="">
                                    <div class="content">
                                        <h3>Ваза из мрамора</h3>
                                        <span href="#">посмотреть изделие</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="item transparent-square-inside white">
                            <a href="#">
                                <div class="image-wrap">
                                    <img src="../images/inner-material-img12.jpg" alt="">
                                    <div class="content">
                                        <h3>Ваза из мрамора</h3>
                                        <span href="#">посмотреть изделие</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="item transparent-square-inside white">
                            <a href="#">
                                <div class="image-wrap">
                                    <img src="../images/inner-material-img13.jpg" alt="">
                                    <div class="content">
                                        <h3>Ваза из мрамора</h3>
                                        <span href="#">посмотреть изделие</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        //= partials/location.html
        //= partials/footer-section.html

    </div>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>

//= partials/scripts.html

</body>
</html>
