//= partials/head.html

<div class="global-wrapper">
    <!-- MAIN -->
    <div class="main materials">
        <div class="menu-button js_main-menu_open clicked">
            <div></div>
            <div></div>
            <div></div>
            <div class="background"></div>
        </div>

        //= partials/main-menu.html
        <div class="regular-top-block js_light-section">
            <img src="../images/materials-background.jpg" alt="" class="background-image">
            <div class="regular-logo-container logo-container black">
                <a href="#">
                    <img src="../images/main-logo-orange.png" alt="">
                </a>
            </div>
            <div class="regular-double_heading black-gray" data-backwards="Materials">
                <h1>Материалы</h1>
            </div>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li>Материалы</li>
                </ul>
            </div>
        </div>

        <div class="filter-section">
            <div class="change-item-order">
                <div class="js_many-in-line">
                    <img src="../images/5-in-line.png" alt="">
                </div>
                <div class="js_one-in-line">
                    <img src="../images/one-in-line.png" alt="">
                </div>
            </div>
        </div>
        <div class="item_container-section">
            <div class="side-filter-menu">
                <div class="toggle-side_menu-button">
                    <span>скрыть меню</span>
                    <span>открыть меню</span>
                </div>
            </div>
            <div class="inner-wrap">
                <ul class="five-in-line">
                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item1.jpg" alt="">
                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="">
                            <img src="../images/gallery-item3.jpg" alt="">
                            <div class="content">
                                <h2>ARABESCATO VAGLI</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                             <img src="../images/gallery-item5.jpg" alt="">

                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">красный мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                       </a>
                    </li>

                    <li class="item thin-border-square black-font">
                        <a href="#">
                            <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                            <img src="../images/gallery-item4.jpg" alt="">
                            <div class="content">
                                <h2>MARMARA EQUATOR</h2>
                                <p style="font-weight: 600;">мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item2.jpg" alt="">
                            <div class="content">
                                 <h2>DIVA BLACK</h2>
                                <p style="font-weight: 600;"> черный мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item6.jpg" alt="">
                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="">
                            <img src="../images/gallery-item7.jpg" alt="">
                            <div class="content">
                                <h2>ARABESCATO VAGLI</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                             <img src="../images/gallery-item8.jpg" alt="">

                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">красный мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                       </a>
                    </li>

                    <li class="item thin-border-square black-font">
                        <a href="#">
                            <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                            <img src="../images/gallery-item9.jpg" alt="">
                            <div class="content">
                                <h2>MARMARA EQUATOR</h2>
                                <p style="font-weight: 600;">мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item10.jpg" alt="">
                            <div class="content">
                                 <h2>DIVA BLACK</h2>
                                <p style="font-weight: 600;"> черный мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item1.jpg" alt="">
                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="">
                            <img src="../images/gallery-item3.jpg" alt="">
                            <div class="content">
                                <h2>ARABESCATO VAGLI</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                             <img src="../images/gallery-item5.jpg" alt="">

                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">красный мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                       </a>
                    </li>

                    <li class="item thin-border-square black-font">
                        <a href="#">
                            <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                            <img src="../images/gallery-item4.jpg" alt="">
                            <div class="content">
                                <h2>MARMARA EQUATOR</h2>
                                <p style="font-weight: 600;">мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item2.jpg" alt="">
                            <div class="content">
                                 <h2>DIVA BLACK</h2>
                                <p style="font-weight: 600;"> черный мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item6.jpg" alt="">
                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="">
                            <img src="../images/gallery-item7.jpg" alt="">
                            <div class="content">
                                <h2>ARABESCATO VAGLI</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                             <img src="../images/gallery-item8.jpg" alt="">

                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">красный мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                       </a>
                    </li>

                    <li class="item thin-border-square black-font">
                        <a href="#">
                            <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                            <img src="../images/gallery-item9.jpg" alt="">
                            <div class="content">
                                <h2>MARMARA EQUATOR</h2>
                                <p style="font-weight: 600;">мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item10.jpg" alt="">
                            <div class="content">
                                 <h2>DIVA BLACK</h2>
                                <p style="font-weight: 600;"> черный мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item1.jpg" alt="">
                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="">
                            <img src="../images/gallery-item3.jpg" alt="">
                            <div class="content">
                                <h2>ARABESCATO VAGLI</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                             <img src="../images/gallery-item5.jpg" alt="">

                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">красный мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                       </a>
                    </li>

                    <li class="item thin-border-square black-font">
                        <a href="#">
                            <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                            <img src="../images/gallery-item4.jpg" alt="">
                            <div class="content">
                                <h2>MARMARA EQUATOR</h2>
                                <p style="font-weight: 600;">мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item2.jpg" alt="">
                            <div class="content">
                                 <h2>DIVA BLACK</h2>
                                <p style="font-weight: 600;"> черный мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item6.jpg" alt="">
                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="">
                            <img src="../images/gallery-item7.jpg" alt="">
                            <div class="content">
                                <h2>ARABESCATO VAGLI</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                             <img src="../images/gallery-item8.jpg" alt="">

                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">красный мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                       </a>
                    </li>

                    <li class="item thin-border-square black-font">
                        <a href="#">
                            <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                            <img src="../images/gallery-item9.jpg" alt="">
                            <div class="content">
                                <h2>MARMARA EQUATOR</h2>
                                <p style="font-weight: 600;">мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item10.jpg" alt="">
                            <div class="content">
                                 <h2>DIVA BLACK</h2>
                                <p style="font-weight: 600;"> черный мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>
                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item1.jpg" alt="">
                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="">
                            <img src="../images/gallery-item3.jpg" alt="">
                            <div class="content">
                                <h2>ARABESCATO VAGLI</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                             <img src="../images/gallery-item5.jpg" alt="">

                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">красный мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                       </a>
                    </li>

                    <li class="item thin-border-square black-font">
                        <a href="#">
                            <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                            <img src="../images/gallery-item4.jpg" alt="">
                            <div class="content">
                                <h2>MARMARA EQUATOR</h2>
                                <p style="font-weight: 600;">мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item2.jpg" alt="">
                            <div class="content">
                                 <h2>DIVA BLACK</h2>
                                <p style="font-weight: 600;"> черный мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item6.jpg" alt="">
                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="">
                            <img src="../images/gallery-item7.jpg" alt="">
                            <div class="content">
                                <h2>ARABESCATO VAGLI</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                             <img src="../images/gallery-item8.jpg" alt="">

                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">красный мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                       </a>
                    </li>

                    <li class="item thin-border-square black-font">
                        <a href="#">
                            <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                            <img src="../images/gallery-item9.jpg" alt="">
                            <div class="content">
                                <h2>MARMARA EQUATOR</h2>
                                <p style="font-weight: 600;">мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item10.jpg" alt="">
                            <div class="content">
                                 <h2>DIVA BLACK</h2>
                                <p style="font-weight: 600;"> черный мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item6.jpg" alt="">
                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="">
                            <img src="../images/gallery-item7.jpg" alt="">
                            <div class="content">
                                <h2>ARABESCATO VAGLI</h2>
                                <p style="font-weight: 600;">белый мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                             <img src="../images/gallery-item8.jpg" alt="">

                            <div class="content">
                                <h2>TEOS FIRE</h2>
                                <p style="font-weight: 600;">красный мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                       </a>
                    </li>

                    <li class="item thin-border-square black-font">
                        <a href="#">
                            <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                            <img src="../images/gallery-item9.jpg" alt="">
                            <div class="content">
                                <h2>MARMARA EQUATOR</h2>
                                <p style="font-weight: 600;">мрамор из италии</p>
                                <p>#0480108</p>
                                <span>посмотреть материал</span>
                            </div>
                        </a>
                    </li>

                    <li class="item thin-border-square" data-click-flag = "true">
                        <a href="#">
                            <img src="../images/gallery-item10.jpg" alt="">
                            <div class="content">
                                 <h2>DIVA BLACK</h2>
                                <p style="font-weight: 600;"> черный мрамор из италии</p>
                                <p>#0480108</p>
                                <span >посмотреть материал</span>
                            </div>
                            <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                        </a>
                    </li>
                </ul>

                <ul class="one-in-line">
                    <li class="item">
                        <div class="thin-border-square" >
                            <a href="#">
                                <img src="../images/gallery-item1.jpg" alt="">
                                <div class="content">

                                    <p style="font-weight: 600;">белый мрамор из италии</p>
                                    <p>#0480108</p>
                                    <span>посмотреть материал</span>
                                </div>
                                <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                            </a>
                        </div>
                        <div class="item_info-block">
                            <div class="heading">
                                <a href="#"><h2>TEOS FIRE</h2></a>
                            </div>
                            <div class="description">
                                <div class="description-item">
                                    <h3>Применение:</h3>
                                    <p>напольный (повышенная нагрузка), декоративные элементы</p>
                                </div>
                                <div class="description-item">
                                    <h3>Обработка поверхности:</h3>
                                    <p>полировка</p>
                                </div>
                                <div class="description-item">
                                    <h3>Цвет камня:</h3>
                                    <p>черный</p>
                                </div>
                                <div class="description-item">
                                    <h3>Происхождение: </h3>
                                    <p>Италия</p>
                                </div>
                                <div class="description-item">
                                    <h3>Тип камня:</h3>
                                    <p>полировка</p>
                                </div>
                                <div class="description-item empty">

                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="item ">
                        <div class="thin-border-square">
                            <a href="">
                                <img src="../images/gallery-item3.jpg" alt="">
                                <div class="content">

                                    <p style="font-weight: 600;">белый мрамор из италии</p>
                                    <p>#0480108</p>
                                    <span >посмотреть материал</span>
                                </div>
                                <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                            </a>
                        </div>
                        <div class="item_info-block">
                            <div class="heading">
                                <a href="#"><h2>TEOS FIRE</h2></a>
                            </div>
                            <div class="description">
                                <div class="description-item">
                                    <h3>Применение:</h3>
                                    <p>напольный (повышенная нагрузка), декоративные элементы</p>
                                </div>
                                <div class="description-item">
                                    <h3>Обработка поверхности:</h3>
                                    <p>полировка</p>
                                </div>
                                <div class="description-item">
                                    <h3>Цвет камня:</h3>
                                    <p>черный</p>
                                </div>
                                <div class="description-item">
                                    <h3>Происхождение: </h3>
                                    <p>Италия</p>
                                </div>
                                <div class="description-item">
                                    <h3>Тип камня:</h3>
                                    <p>полировка</p>
                                </div>
                                <div class="description-item empty">

                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="item ">
                        <div class="thin-border-square">
                            <a href="#">
                                 <img src="../images/gallery-item5.jpg" alt="">

                                <div class="content">

                                    <p style="font-weight: 600;">красный мрамор из италии</p>
                                    <p>#0480108</p>
                                    <span>посмотреть материал</span>
                                </div>
                                <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">

                           </a>
                       </div>
                       <div class="item_info-block">
                           <div class="heading">
                              <a href="#"><h2>TEOS FIRE</h2></a>
                           </div>
                           <div class="description">
                               <div class="description-item">
                                   <h3>Применение:</h3>
                                   <p>напольный (повышенная нагрузка), декоративные элементы</p>
                               </div>
                               <div class="description-item">
                                   <h3>Обработка поверхности:</h3>
                                   <p>полировка</p>
                               </div>
                               <div class="description-item">
                                   <h3>Цвет камня:</h3>
                                   <p>черный</p>
                               </div>
                               <div class="description-item">
                                   <h3>Происхождение: </h3>
                                   <p>Италия</p>
                               </div>
                               <div class="description-item">
                                   <h3>Тип камня:</h3>
                                   <p>полировка</p>
                               </div>
                               <div class="description-item empty">

                               </div>

                           </div>
                       </div>
                    </li>

                    <li class="item ">
                        <div class="thin-border-square black-font">
                            <a href="#">
                                <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                                <img src="../images/gallery-item4.jpg" alt="">
                                <div class="content">

                                    <p style="font-weight: 600;">мрамор из италии</p>
                                    <p>#0480108</p>
                                    <span>посмотреть материал</span>
                                </div>
                            </a>
                        </div>
                        <div class="item_info-block">
                            <div class="heading">
                                <a href="#"><h2>TEOS FIRE</h2></a>
                            </div>
                            <div class="description">
                                <div class="description-item">
                                    <h3>Применение:</h3>
                                    <p>напольный (повышенная нагрузка), декоративные элементы</p>
                                </div>
                                <div class="description-item">
                                    <h3>Обработка поверхности:</h3>
                                    <p>полировка</p>
                                </div>
                                <div class="description-item">
                                    <h3>Цвет камня:</h3>
                                    <p>черный</p>
                                </div>
                                <div class="description-item">
                                    <h3>Происхождение: </h3>
                                    <p>Италия</p>
                                </div>
                                <div class="description-item">
                                    <h3>Тип камня:</h3>
                                    <p>полировка</p>
                                </div>
                                <div class="description-item empty">

                                </div>

                            </div>
                        </div>
                    </li>


                    <li class="item ">
                        <div class="thin-border-square">
                            <a href="#">
                                <img src="../images/gallery-item2.jpg" alt="">
                                <div class="content">

                                    <p style="font-weight: 600;"> черный мрамор из италии</p>
                                    <p>#0480108</p>
                                    <span >посмотреть материал</span>
                                </div>
                                <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                            </a>
                        </div>
                        <div class="item_info-block">
                            <div class="heading">
                                <a href="#"><h2>TEOS FIRE</h2></a>
                            </div>
                            <div class="description">
                                <div class="description-item">
                                    <h3>Применение:</h3>
                                    <p>напольный (повышенная нагрузка), декоративные элементы</p>
                                </div>
                                <div class="description-item">
                                    <h3>Обработка поверхности:</h3>
                                    <p>полировка</p>
                                </div>
                                <div class="description-item">
                                    <h3>Цвет камня:</h3>
                                    <p>черный</p>
                                </div>
                                <div class="description-item">
                                    <h3>Происхождение: </h3>
                                    <p>Италия</p>
                                </div>
                                <div class="description-item">
                                    <h3>Тип камня:</h3>
                                    <p>полировка</p>
                                </div>
                                <div class="description-item empty">

                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="item">
                        <div class="thin-border-square">
                            <a href="#">
                                <img src="../images/gallery-item6.jpg" alt="">
                                <div class="content">

                                    <p style="font-weight: 600;">белый мрамор из италии</p>
                                    <p>#0480108</p>
                                    <span>посмотреть материал</span>
                                </div>
                                <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                            </a>
                        </div>
                        <div class="item_info-block">
                            <div class="heading">
                                <a href="#"><h2>TEOS FIRE</h2></a>
                            </div>
                            <div class="description">
                                <div class="description-item">
                                    <h3>Применение:</h3>
                                    <p>напольный (повышенная нагрузка), декоративные элементы</p>
                                </div>
                                <div class="description-item">
                                    <h3>Обработка поверхности:</h3>
                                    <p>полировка</p>
                                </div>
                                <div class="description-item">
                                    <h3>Цвет камня:</h3>
                                    <p>черный</p>
                                </div>
                                <div class="description-item">
                                    <h3>Происхождение: </h3>
                                    <p>Италия</p>
                                </div>
                                <div class="description-item">
                                    <h3>Тип камня:</h3>
                                    <p>полировка</p>
                                </div>
                                <div class="description-item empty">

                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="item">
                        <div class="thin-border-square">
                            <a href="#">
                                <img src="../images/gallery-item7.jpg" alt="">
                                <div class="content">
                                    <p style="font-weight: 600;">белый мрамор из италии</p>
                                    <p>#0480108</p>
                                    <span >посмотреть материал</span>
                                </div>
                                <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                            </a>

                        </div>
                        <div class="item_info-block">
                            <div class="heading">
                                <a href="#"><h2>TEOS FIRE</h2></a>
                            </div>
                            <div class="description">
                                <div class="description-item">
                                    <h3>Применение:</h3>
                                    <p>напольный (повышенная нагрузка), декоративные элементы</p>
                                </div>
                                <div class="description-item">
                                    <h3>Обработка поверхности:</h3>
                                    <p>полировка</p>
                                </div>
                                <div class="description-item">
                                    <h3>Цвет камня:</h3>
                                    <p>черный</p>
                                </div>
                                <div class="description-item">
                                    <h3>Происхождение: </h3>
                                    <p>Италия</p>
                                </div>
                                <div class="description-item">
                                    <h3>Тип камня:</h3>
                                    <p>полировка</p>
                                </div>
                                <div class="description-item empty">

                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="item">
                        <div class="thin-border-square">
                            <a href="#">
                                 <img src="../images/gallery-item8.jpg" alt="">

                                <div class="content">

                                    <p style="font-weight: 600;">красный мрамор из италии</p>
                                    <p>#0480108</p>
                                    <span>посмотреть материал</span>
                                </div>
                                <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">

                           </a>
                       </div>
                       <div class="item_info-block">
                           <div class="heading">
                               <a href="#"><h2>TEOS FIRE</h2></a>
                           </div>
                           <div class="description">
                               <div class="description-item">
                                   <h3>Применение:</h3>
                                   <p>напольный (повышенная нагрузка), декоративные элементы</p>
                               </div>
                               <div class="description-item">
                                   <h3>Обработка поверхности:</h3>
                                   <p>полировка</p>
                               </div>
                               <div class="description-item">
                                   <h3>Цвет камня:</h3>
                                   <p>черный</p>
                               </div>
                               <div class="description-item">
                                   <h3>Происхождение: </h3>
                                   <p>Италия</p>
                               </div>
                               <div class="description-item">
                                   <h3>Тип камня:</h3>
                                   <p>полировка</p>
                               </div>
                               <div class="description-item empty">

                               </div>

                           </div>
                       </div>
                    </li>

                    <li class="item">
                        <div class="thin-border-square black-font">
                            <a href="#">
                                <img src="../images/gallery-item9.jpg" alt="">

                                <div class="content">

                                    <p style="font-weight: 600;">мрамор из италии</p>
                                    <p>#0480108</p>
                                    <span>посмотреть материал</span>
                                </div>
                                <img class="hover-image" src="../images/gallery-item_background.jpg" alt="">
                            </a>
                        </div>
                        <div class="item_info-block">
                            <div class="heading">
                                <a href="#"><h2>TEOS FIRE</h2></a>
                            </div>
                            <div class="description">
                                <div class="description-item">
                                    <h3>Применение:</h3>
                                    <p>напольный (повышенная нагрузка), декоративные элементы</p>
                                </div>
                                <div class="description-item">
                                    <h3>Обработка поверхности:</h3>
                                    <p>полировка</p>
                                </div>
                                <div class="description-item">
                                    <h3>Цвет камня:</h3>
                                    <p>черный</p>
                                </div>
                                <div class="description-item">
                                    <h3>Происхождение: </h3>
                                    <p>Италия</p>
                                </div>
                                <div class="description-item">
                                    <h3>Тип камня:</h3>
                                    <p>полировка</p>
                                </div>
                                <div class="description-item empty">

                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="item ">
                        <div class="thin-border-square">
                            <a href="#">
                                <img src="../images/gallery-item10.jpg" alt="">
                                <div class="content">
                                    <p style="font-weight: 600;"> черный мрамор из италии</p>
                                    <p>#0480108</p>
                                    <span >посмотреть материал</span>
                                </div>
                                <img class="hover-image" src="../images/gallery-image-main.jpg" alt="">
                            </a>
                        </div>
                        <div class="item_info-block">
                            <div class="heading">
                                <a href="#"><h2>TEOS FIRE</h2></a>
                            </div>
                            <div class="description">
                                <div class="description-item">
                                    <h3>Применение:</h3>
                                    <p>напольный (повышенная нагрузка), декоративные элементы</p>
                                </div>
                                <div class="description-item">
                                    <h3>Обработка поверхности:</h3>
                                    <p>полировка</p>
                                </div>
                                <div class="description-item">
                                    <h3>Цвет камня:</h3>
                                    <p>черный</p>
                                </div>
                                <div class="description-item">
                                    <h3>Происхождение: </h3>
                                    <p>Италия</p>
                                </div>
                                <div class="description-item">
                                    <h3>Тип камня:</h3>
                                    <p>полировка</p>
                                </div>
                                <div class="description-item empty">

                                </div>

                            </div>
                        </div>
                    </li>

                </ul>

                <!-- <div class="load-more">
                    <a href="#">
                        <span class="text-wrap">показать еще 32 материала</span>
                        <img src="../images/load-more-arrow.png" alt="">
                    </a>
                </div> -->

            </div>
        </div>
        <div class="paginator-section">
            <div class="wrapper">
                <ul class="paginator">
                    <li class="prev"><a href="#"><img src="../images/arrow.png" alt=""><span>Prev</span></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">19</a></li>
                    <li><a href="#">20</a></li>
                    <li><a href="#" class="current-page">21</a></li>
                    <li><a href="#">22</a></li>
                    <li><a href="#">23</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">49</a></li>
                    <li><a href="#">50</a></li>
                    <li class="next"><a href="#"><img src="../images/arrow.png" alt=""><span>Next</span></a></li>
                </ul>
            </div>
        </div>

        //= partials/location.html
        //= partials/footer-section.html

    </div>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>

//= partials/scripts.html

</body>
</html>
